{% extends 'base.html.twig' %}

{% block stylesheets %} 

    {{ leogout_seo() }} 
    <style>

        /* Add this CSS to your stylesheet */
        .cart-container {
          display: flex;
          flex-direction: column;
          align-items: center;
          text-align: center;
          max-width:700px;
        }

        .list-unstyled {
          width: 100%; /* Set the width of the list to 100% */
          padding: 0;
          list-style: none;
        }

        .cart-item {
          width: 100%; /* Set the width of each cart item to 100% */
          margin-bottom: 20px;
          padding: 15px;
          border: 1px solid #ddd;
          border-radius: 5px;
          font-family: 'Arial', sans-serif;
        }

        .cart-link {
          color: #333;
          text-decoration: none;
          font-weight: bold;
        }

        .cart-price,
        .cart-total {
          color: #555;
        }

        .invalid-feedback {
          color: #d9534f;
        }

        /* Optional: Style for hover effect */
        .cart-item:hover {
          background-color: #f9f9f9;
        }on deliver


        /* Add some basic styling */
        #container {
            position: relative;
        }

        #searchInput {
            width: 100%;
            box-sizing: border-box;
            padding: 5px;
            margin-bottom: 5px;
        }

        #routeSelect {
            width: 100%;
        }
        .custom-control-input:disabled:checked~.custom-control-label::before {
            background-color: rgba(0, 123, 255, .5)
        }

        .custom-switch {
            padding-left: 2.25rem
        }

        .custom-switch .custom-control-label::before {
            left: -2.25rem;
            width: 1.75rem;
            pointer-events: all;
            border-radius: .5rem
        }

        .custom-switch .custom-control-label::after {
            top: calc(.25rem + 2px);
            left: calc(-2.25rem + 2px);
            width: calc(1rem - 4px);
            height: calc(1rem - 4px);
            background-color: #adb5bd;
            border-radius: .5rem;
            transition: background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out, -webkit-transform .15s ease-in-out;
            transition: transform .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
            transition: transform .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out, -webkit-transform .15s ease-in-out
        }

        @media (prefers-reduced-motion:reduce) {
            .custom-switch .custom-control-label::after {
                transition: none
            }
        }

        .custom-switch .custom-control-input:checked~.custom-control-label::after {
            background-color: #fff;
            -webkit-transform: translateX(.75rem);
            transform: translateX(.75rem)
        }

        .custom-switch .custom-control-input:disabled:checked~.custom-control-label::before {
            background-color: rgba(0, 123, 255, .5)
        }

        #discountCode{
          text-align: right;
        }

    </style>

{% endblock %}
{% block page %}

      <section class="breadcrumbs-custom">
        <div class="parallax-container" data-parallax-img="/site/images/gift-pack-banner.jpg">
          <div class="breadcrumbs-custom-body parallax-content">
            <div class="container">
              <h2 class="breadcrumbs-custom-title">Checkout</h2>
            </div>
          </div>
        </div>
        <div class="breadcrumbs-custom-footer">
          <div class="container">
            <ul class="breadcrumbs-custom-path">
              <li><a href="{{ path('app_default')}}">Home</a></li>
              <li><a href="#">Shop</a></li>
              <li class="active">Checkout</li>
            </ul>
          </div>
        </div>
      </section>
      <!-- Section checkout form-->
      <section class="section section-sm section-first bg-default text-md-left">
        <div class="container">
          <div class="row row-50 justify-content-center">
            <div class="col-md-10 col-lg-6">
                <div class="table-custom-responsive" style="margin-top:0;">
                    <div class="container cart-container">
                        <h3 class="font-weight-medium">Your shopping cart</h3>
                        <ul class="list-unstyled">
                        {% for item in cart.orderItems %}
                            <li class="cart-item">
                            <a href="{{ path('product_show', {'product_slug': item.product.slug}) }}" class="cart-figure">
                                <img src="/site/images/products/{{ item.product.images }}" alt="" width="58" height="132"/>
                            </a>
                            <div class="cart-details">
                                <a href="{{ path('product_show', {'product_slug': item.product.slug}) }}" class="cart-link">{{ item.product.productName }} {{item.colorStr|raw}}</a>
                                <div class="cart-price">Each: KSh {{ item.product.price }}</div>
                                <div class="cart-quantity">
                                <div class="table-cart-stepper">
                                    Quantity: {{item.quantity}}
                                </div>
                                </div>
                                <div class="cart-total">Total: KSh {{ item.subTotal }}</div>
                            </div>
                            </li>
                        {% endfor %}
                        </ul>
                    </div>
                </div>
            

            </div>
            <div class="col-md-10 col-lg-6" style="margin-bottom: 100px;">
              <div class="table-custom-responsive">
                  <div class="container cart-container">
                      <h3 class="font-weight-medium">Cart total</h3>
                      <table class="table-custom table-custom-primary table-checkout">
                          <tbody>
                              <tr>
                                  <td style="width:30%!important;min-width:30px!important">Cart Subtotal</td>
                                  <td style="width:70%!important">KSh {{cart.total}}<br/>(Tax inclusive)</td>
                              </tr>
                              <tr>
                                  <td style="width:30%!important;min-width:30px!important">Discount<br/><small id="info"></small></td>
                                  <td style="width:70%!important">
                                      <div class="">
                                          <label for="discountCode">Discount Code</label>
                                          <input style="width: 100%;font-size: .7em;" type="text" class="form-control" id="discountCode" value="{{discountCode is null ? 'MEMBER-DISCOUNT' : discountCode }}">
                                          <small><button id="applyCode" class="mt-1 btn btn-sm btn-primary">Apply</button> KSh <span id="discount_val">{{cart.discountAmount is null ? 0 : cart.discountAmount}}</span></small>
                                      </div>
                                  </td>
                              </tr>
                              <tr>
                                  <td style="width:30%!important;min-width:30px!important">Shipping</td>
                                  <td style="width:70%!important">
                                      <div class="custom-control custom-switch">
                                          <input type="checkbox" class="custom-control-input" {{ cart.express ? 'checked' : '' }} id="shippingSwitch">
                                          <label class="custom-control-label" for="shippingSwitch">COURIER</label>
                                      </div>
                                      <span id="shipping_cost">{{ cart.shippingAmount is null ? 0 : cart.shippingAmount }}</span>
                                  </td>
                              </tr>
                              <tr>
                                  <td style="width:30%!important;min-width:30px!important">Total</td>
                                  <td style="width:70%!important">KSh <span id="cartTotal">{{ cart.totalAmount }}</span></td>
                              </tr>
                          </tbody>
                      </table>
                  </div>
              </div>
              <br/><br/>
              <h3 class="font-weight-medium">Delivery Address</h3>
              <form method="post" action="{{ path('submit_checkout') }}" class="form-checkout">
                <div class="row row-30">
                  <div class="col-sm-6">
                    <div class="form-wrap">
                      <input class="form-input" id="checkout-first-name-2" type="text" name="firstName" value="{{user.firstName}}" data-constraints="@Required"/>
                      <label class="form-label" for="checkout-first-name-2">First Name</label>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-wrap">
                      <input class="form-input" id="checkout-last-name-2" type="text" name="lastName" value="{{user.lastName}}" data-constraints="@Required"/>
                      <label class="form-label" for="checkout-last-name-2">Last Name</label>
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="form-wrap">
                      <input class="form-input" id="checkout-address-2" type="text" name="streetAddress" value="{{user.addresses and user.addresses|length > 0 ? user.addresses|first.streetAddress : ''}}" data-constraints="@Required"/>
                      <label class="form-label" for="checkout-address-2">Street Address</label>
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="form-wrap">
                      <input class="form-input" id="checkout-city-2" type="text" name="county" value="{{user.addresses and user.addresses|length > 0 ? user.addresses|first.county : ''}}" data-constraints="@Required"/>
                      <label class="form-label" for="checkout-city-2">City/Town/County</label>
                    </div>
                  </div>

                  <div class="col-12" id="routes">
                   <div class="form-wrap" id="container" style="width:100%">
                       <label>Delivery Route (choose closest to you)</label>
                       <select class="form-input" id="routeSelect" style="width:100%" name="route">
                           <!-- JOGOO ROAD Section -->  
                            <option value="cbd-pickup" data-prices="CBD Pickup - Flat: 0 - Exp: 0">CBD Pickup - Free</option>
                            <option value="cbd-pickup" data-prices="CBD Delivery - Flat: 100 - Exp: 100">CBD Delivery - 100</option>

                           {% for optgroupLabel, options in optgroups %}

                               <optgroup label="{{ optgroupLabel }}">
                                   {% for value, text in options %}
                                    {% if text.flat == text.exp %}
                                       <option value="{{ text.area }}" data-prices="{{ text.area ~ ' - Flat: ' ~ text.flat|lower ~ ' - Exp: ' ~ text.exp|lower }}">{{ text.area ~ ' - '  ~ text.flat|lower }}</option>
                                    {% else %}
                                       <option value="{{ text.area }}" data-prices="{{ text.area ~ ' - Flat: ' ~ text.flat|lower ~ ' - Exp: ' ~ text.exp|lower }}">{{ text.area ~ ' - Parcel: ' ~ text.flat|lower ~ ' - Courier: ' ~ text.exp|lower }}</option>
                                    {% endif %}
                                   {% endfor %}
                               </optgroup>

                               {% if not loop.last %}
                                   <!-- Add a line break between optgroups -->
                                   <br>
                               {% endif %}
                           {% endfor %}


                       </select>
                   </div>
                  </div>
                  <input type="hidden" value="0" name="shipping">
                  <input type="hidden" value="{{cart.totalAmount}}" name="cartAndShipping">

                  <div class="col-12">
                    <div class="form-wrap">
                      <input class="form-input" id="checkout-phone-2" type="tel" name="phoneNumber" placeholder="07********" value="{{user.phoneNumber and user.phoneNumber is not null ? user.phoneNumber : ''}}" data-constraints="@Numeric"/>
                      <label class="form-label" for="checkout-phone-2">Phone</label>
                    </div>
                  </div>

                    <div class="col-12">
                    <div class="group-sm group-middle group-button-1">
                        <button class="button button-lg button-primary button-zakaria" name="payNow" type="submit">Pay Now</button>
                        <button class="button button-lg button-secondary button-zakaria" type="submit" name="payOnDelivery">Pay On Delivery</button>
                    </div>
                    </div>

                </div>
              </form>
            </div>
          </div>
        </div>
      </section>
      <!-- Shopping Cart-->


{% endblock %}

{% block javascripts_bottom %}

<script>
    $(document).ready(function () {
        
        var selectedOption = $(this).find('option:selected');
        $.ajax({
            type: 'POST',
            url: "{{path('update_order_shipping_cost') }}",
            data: {
                shipping_cost: 0,
                order_id: {{cart.id}},
            },
            success: function (response) {
                console.log(response);
                $('#shipping_cost').text('KSh ' + response.shipping_cost);
                $('#cartTotal').text(response.totalAmount);
                $('input[name="cartAndShipping"]').val(response.totalAmount);
                $('input[name="shipping"]').val(0);
            },
            error: function (error) {
                console.error(error);
            }
        });

        // Add change event listener to the applyCode dropdown
        $('#applyCode').on('click', function () {
            // Get the discount code
            var discountCode = $("#discountCode").val();
            var order_id = {{cart.id}};

            $.ajax({
                type: 'POST',
                url: "{{path('update_order_discount_amount') }}",
                data: {
                    discountCode: discountCode,
                    order_id: {{cart.id}},
                },
                success: function (response) {
                    console.log(response);
                    // Update the discount amount
                    updateDiscountValue(response.value);
                    updateTotalAmount(response.totalAmount);
                    $("#info").html(response.info)
                },
                error: function (error) {
                    console.error(error);
                }
            });

        });

        $("#applyCode").click();

        function updateDiscountValue(value){
            $('#discount_val').text(value);
        }
        function updateTotalAmount(value){
            $('#cartTotal').text(value);
        }
        // Add change event listener to the routeSelect dropdown
        $('#routeSelect').on('change', function () {
            // Get the selected option
            var selectedOption = $(this).find('option:selected');
            var pricesData = selectedOption.data('prices');
            var isExpress = $(this).prop('checked');
            console.log('changed to: ' + pricesData);

            // Extract shipping values from the selected option text
            var shippingValues = getShippingValues(pricesData);
            console.log(shippingValues);
            // Update the shipping cost based on the extracted values and switch state
            updateShippingCost(shippingValues, isExpress);
        });

        // Add change event listener to the shipping switch
        $('#shippingSwitch').on('change', function () {
            // Get the switch state (left: flat, right: express)
            var isExpress = $(this).prop('checked');
            var selectedOption = $("#routeSelect").find('option:selected');
            var pricesData = selectedOption.data('prices');
            
            var shippingValues = getShippingValues(pricesData);

            console.log(shippingValues);

            // Update the shipping cost based on the extracted values and switch state
            updateShippingCost(shippingValues, isExpress);

            $.ajax({
                type: 'POST',
                url: "{{path('update_order_express') }}",
                data: {
                    isExpress: isExpress,
                    order_id: {{cart.id}},
                },
                success: function (response) {
                    console.log(response);
                },
                error: function (error) {
                    console.error(error);
                }
            });

        });

        // Function to extract shipping values from the option text
        function getShippingValues(optionText) {
            // Extract shipping values from the option text
            var matches = optionText.match(/Flat: (\d+) - Exp: (\d+)/);

            // If a match is found, return the extracted shipping values; otherwise, return default values
            return matches ? { flat: parseInt(matches[1]), express: parseInt(matches[2]) } : { flat: 0, express: 0 };
        }

        // Function to update the shipping cost based on the extracted values and switch state
        function updateShippingCost(data, express=null) {
            // Set the shipping cost based on the switch state or extracted values
            var shippingCost = $('#shippingSwitch').prop('checked') ? data.express : data.flat;
            var currentCartTotal = {{ cart.totalAmount }};
            var updatedCartTotal = parseFloat(currentCartTotal) + parseFloat(shippingCost);

            // Update the displayed shipping cost
            $('#shipping_cost').text('KSh ' + shippingCost);

            // Update the hidden input field value
            $('input[name="shipping"]').val(shippingCost);
            $('input[name="cartAndShipping"]').val(updatedCartTotal);
            $('#cartTotal').text(updatedCartTotal);
            $.ajax({
                type: 'POST',
                url: "{{path('update_order_shipping_cost') }}",
                data: {
                    shipping_cost: shippingCost,
                    order_id: {{cart.id}},
                },
                success: function (response) {
                    console.log(response);
                    $('#shipping_cost').text('KSh ' + response.shipping_cost);
                    $('#cartTotal').text(response.totalAmount);
                    $('input[name="cartAndShipping"]').val(response.totalAmount);
                    //$('input[name="shipping"]').val(0);
                },
                error: function (error) {
                    console.error(error);
                }
            });
            
        }
    });
</script>

{% endblock %}