{% extends 'base.html.twig' %}

{% block stylesheets %} 

    {{ leogout_seo() }} 
    <style>

/* Add this CSS to your stylesheet */
.cart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width:700px;
}

.list-unstyled {
  width: 100%; /* Set the width of the list to 100% */
  padding: 0;
  list-style: none;
}

.cart-item {
  width: 100%; /* Set the width of each cart item to 100% */
  margin-bottom: 20px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-family: 'Arial', sans-serif;
}

.cart-link {
  color: #333;
  text-decoration: none;
  font-weight: bold;
}

.cart-price,
.cart-total {
  color: #555;
}

.invalid-feedback {
  color: #d9534f;
}

/* Optional: Style for hover effect */
.cart-item:hover {
  background-color: #f9f9f9;
}



    </style>

{% endblock %}

{% block page %}

      <section class="breadcrumbs-custom">
        <div class="parallax-container" data-parallax-img="/site/images/gift-pack-banner.jpg">
          <div class="breadcrumbs-custom-body parallax-content">
            <div class="container">
              <h1 class="breadcrumbs-custom-title">Your Cart</h1>
            </div>
          </div>
        </div>
        <div class="breadcrumbs-custom-footer">
          <div class="container">
            <ul class="breadcrumbs-custom-path">
              <li><a href="{{path('app_default')}}">Home</a></li>
              <li><a href="#">Shop</a></li>
              <li class="active">Your Cart</li>
            </ul>
          </div>
        </div>
      </section>

    {% if cart.orderItems.count > 0 %}

    {{ form_start(form) }}
        <!-- Shopping Cart-->
        <section class="section section-xl bg-default" style="padding-top:0;">
            <div class="container">
                <!-- shopping-cart-->
                <div class="table-custom-responsive" style="margin-top:0;">
                    <section class="section section-sm bg-default text-md-left">
                    <div class="container cart-container">
                        <h3 class="font-weight-medium" style="font-size:1.4em">Your shopping cart</h3>
                        <ul class="list-unstyled">
                        {% for item in form.orderItems %}
                            <li class="cart-item">
                            <a href="{{ path('product_show', {'product_slug': item.vars.data.product.slug }) }}" class="cart-figure">
                                <img src="/site/images/products/{{ item.vars.data.product.images }}" alt="" width="58" height="132"/>
                            </a>
                            <div class="cart-details">
                                <a href="{{ path('product_show', {'product_slug': item.vars.data.product.slug }) }}" class="cart-link">{{ item.vars.data.product.productName }} {{ item.vars.data.colorStr|raw}}</a>
                                <div class="cart-price">KSh {{ item.vars.data.product.price }}</div>
                                <div class="cart-quantity">
                                <div class="table-cart-stepper">
                                    {{ form_widget(item.quantity, {
                                    'attr': {
                                        'class': 'form-input form-control-sm ' ~ (item.quantity.vars.valid ? '' : 'is-invalid'),
                                        'data-zeros': 'true',
                                        'value': item.quantity.vars.value,
                                        'min': '1',
                                        'max': '1000'
                                    }
                                    }) }}
                                    <div class="invalid-feedback">
                                    {{ form_errors(item.quantity) }}
                                    </div>
                                </div>
                                </div>
                                <div class="cart-total">Total: KSh {{ item.subTotal.vars.value }}</div>
                                <div class="cart-action">{{ form_widget(item.remove, {'attr': {'class': 'btn btn-dark btn-sm'}}) }}</div>
                            </div>
                            </li>
                        {% endfor %}
                        </ul>
                    </div>
                    </section>
                </div>
                <div class="group-xl group-justify justify-content-center justify-content-md-between">
                    <div>
                        <div class="form-button">
                        {{ form_widget(form.save, {'attr': {'class': 'button button-lg button-default-outline-2 button-zakaria'}}) }}
                        {{ form_widget(form.clear, {'attr': {'class': 'button button-lg ', 'style': 'margin-top:0'}}) }}
                        </div>
                    </div>
                    <div>
                    <div class="group-xl group-middle">
                        <div>
                        <div class="group-md group-middle">
                            <div class="heading-5 font-weight-medium text-gray-500">Total</div>
                            <div class="heading-3 font-weight-normal">KSh {{ cart.total }}</div>
                        </div>
                        </div><a class="button button-lg button-primary button-zakaria" href="{{ path('checkout') }}">Proceed to checkout</a>
                    </div>
                    </div>
                </div>
            </div>
        </section>
        {{ form_row(form._token) }}
    {{ form_end(form, {'render_rest': false}) }}
    {% else %}
        <div class="alert alert-info">
            Your cart is empty. Go to the <a href="{{ path('app_default') }}">Home page</a>.
        </div>
    {% endif %}



{% endblock %}
