<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title></title>
    <link rel="stylesheet" href="css/main.css" />
    <link rel="icon" href="images/favicon.png" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
    <style>
        body{
            background-color: #ffffff;

        }
        .container{
            max-width: 600px;
            background-color: #fff;
            padding-top: 100px;
            padding-bottom: 100px;

        }
        .card{
            background-color: #fff;
            width: 300px;
            border-radius: 15px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }
        .name{
            font-size: 15px;
            color: #403f3f;
            font-weight: bold;
        }
        .cross{
            font-size: 11px;
            color: #b0aeb7;
        }
        .pin{
            font-size: 14px;
            color: #b0aeb7;
        }
        .first{
            border-radius: 8px;
            border: 1.5px solid #78b9ff;
            color: #000;
            background-color: #eaf4ff;
        }
        .second{
            border-radius: 8px;
            border: 1px solid #acacb0;
            color: #000;
            background-color: #fff;
        }
        .dot{

        }
        .head{
            color: #137ff3;
            font-size: 12px;
        }
        .dollar{
            font-size: 18px;
            color: #097bf7;
        }
        .amount{
            color: #007bff;
            font-weight: bold;
            font-size: 18px;

        }
        .form-control{
            font-size: 18px;
            font-weight: bold;
            width: 60px;
            height: 28px;

        }
        .back{
            color: #aba4a4;
            font-size: 15px;
            line-height: 73px;
            font-weight: 400;
        }
        .button{
            width: 150px;
            height: 60px;
            border-radius: 8px;
            font-size: 17px;		
        }
        #whatsapp-button {
            position: fixed;
            bottom: 10px;
            left: 10px;
            z-index: 999; /* Adjust the z-index as needed */
            color: white; /* Change the text color */
            padding:5px;
            cursor: pointer;
            /* Add other styles as needed */
        }

    </style>

    </head>

    <body>
    <div class="container d-flex justify-content-center mt-5">
        <div class="card">
            


            <div>
                <div class="d-flex pt-3 pl-3">
                <div><img src="{{ asset('site/images/baby-blossom-logo-text.png') }}" height="60" /></div>
                <div class="mt-3 pl-2"><span class="name">{{app.user.fullName}}</span><div><span class="pin ml-2">{{app.user.phoneNumber}}</span></div></div>
                </div>


                <div class="py-2  px-3">
                    <div class="first pl-2 d-flex py-2">
                    <div class="form-check">
                    <input type="radio" name="optradio" class="form-check-input mt-3 dot" checked>
                    </div>
                    <div class="border-left pl-2"><span class="head">Total amount due</span><div><span class="dollar">KSh </span><span class="amount">{{amountToPay}}</span></div></div>

                    </div>
                </div>


                <div class="py-2  px-3">
                    <div class="second pl-2 d-flex py-2">
                        <div class="border-left pl-2">
                            <span class="head">1. Check your phone ({{app.user.phoneNumber}}).<br/> 2. Input your MPESA pin. <br/>3. Wait for MPESA confirmation message <br/> 4. Click "Complete Order" below</span>
                        </div>

                    </div> 
                </div>	


                    <div class="d-flex justify-content-between px-3 pt-4 pb-3">
                        <div><span class="back">Go back</span></div>
                        <form method="post" action="{{path('checkout_complete_payment')}}">
                            <input type="hidden" name="order_id" id="order_id" value="{{order_id}}" >
                            <input type="hidden" name="request_id" id="request_id" value="{{request_id}}" >     
                            <input type="hidden" name="status" id="status" value="{{status}}" >
                            <input type="hidden" name="amountToPay" value="{{amountToPay}}" >
                            <input type="hidden" name="shipping" value="{{shipping}}" >
                            <button type="submit" class="btn btn-primary button">Complete Order</button>
                        </form>
                    </div>



            </div>
        </div>
        <div id="whatsapp-button"><a href="#"><img src="/whatsapp.png"></a></div>   

    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script>
        const whatsappNumber = "254757066500"; // Replace with your actual number
        const prefilledMessage = "Hi there, I have a question from your website."; // Optional pre-filled message

        const whatsappButton = document.querySelector('#whatsapp-button');

        whatsappButton.addEventListener('click', function() {
        const url = `https://wa.me/${whatsappNumber}?text=${encodeURIComponent(prefilledMessage)}`;
        window.location.href = url;
        });
    </script>

  </body>
</html>

