{% extends 'base.html.twig' %}

{% block title %}Password Reset Email Sent{% endblock %}

{% block page %}
      <!-- MailChimp-->
      <section class="section section-sm bg-default text-center">
        <div class="container">
          <div class="row justify-content-md-center">
            <div class="col-md-9 col-lg-8 col-xl-7">
              <h3>Request Sent!</h3>
              <p class="big">
              <!-- Mailchimp-->
                If an account matching your email exists, then an email was just sent that contains a link that you can use to reset your password.
                This link will expire in {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
            </p>
            <p>If you don't receive an email please check your spam folder or <a href="{{ path('app_forgot_password_request') }}">try again</a>.</p>            </div>
          </div>
        </div>
      </section>

    <p>

{% endblock %}
