{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block page %}

      <!-- MailChimp-->
      <section class="section section-sm bg-default text-center">
        <div class="container">
          <div class="row justify-content-md-center">
            <div class="col-md-9 col-lg-8 col-xl-7">
              <h3>Reset Your Password</h3>
              <p class="big">Enter your email address, and we will send you a link to reset your password..</p>
              <!-- Mailchimp-->
                {{ form_start(requestForm, {'attr': {'class': 'rd-form rd-form-inline'}}) }}
                <div class="form-wrap">
                  <label class="form-label" for="mailchimp-email">Enter your e-mail</label>
                  {{ form_widget(requestForm.email, {'attr': {'class': 'form-input'}}) }}
                </div>
                <div class="form-button">
                   <button class="button button-primary button-zakaria">Send password reset email</button>
                </div>
              {{ form_end(requestForm) }}
            </div>
          </div>
        </div>
      </section>
       
    
{% endblock %}
