{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block page %}

      <!-- MailChimp-->
      <section class="section section-sm bg-default text-center">
        <div class="container">
          <div class="row justify-content-md-center">
            <div class="col-md-9 col-lg-8 col-xl-7">
              <h3>Password Reset</h3>
              <p class="big">Reset Your Password Now.</p>
              <!-- Mailchimp-->
              {{ form_start(resetForm, {'attr': {'class': 'rd-form rd-form-inline'}}) }}
                <div class="form-wrap">
                    {{ form_row(resetForm.plainPassword.first, {'attr': {'class': 'form-input first-password'}}) }}
                    {{ form_row(resetForm.plainPassword.second, {'attr': {'class': 'form-input repeat-password'}}) }}                  
                </div>
                <div class="form-button">
                  <button class="button button-primary button-zakaria">Reset password</button>
                </div>
              {{ form_end(resetForm) }}
            </div>
          </div>
        </div>
      </section>


    
        
        
    
{% endblock %}
