{# templates/admin/product/form.html.twig #}

{% extends '@EasyAdmin/crud/new.html.twig' %}

{% block main %}
    {# Include the parent form content #}
    {{ parent() }}

    {# Display the image using an HTML img tag #}
    {# {% if ea.request.query.get('tmp') is defined and ea.entity.instance.template is defined and ea.entity.instance.template is not null %} #}
    <img style="width:500px;" src="{{asset('site/images/product_image_ex_1.png') }}" >
    {# {% endif %} #}
{% endblock %}