{% extends 'base.html.twig' %}

{% block stylesheets %} {{ leogout_seo() }} 
  <style>
    h2 {
      font-size:32px!important;
    }
    h3 {
      font-size:26px!important;
    }
    h4 {
      font-size:20px!important;
    }
    h2,h3,h4 {
      text-transform:capitalize!important;
    }
    .container ul {
      margin-bottom:1rem!important;
      margin-top:14px!important;
    }
  </style>
{% endblock %}
{% block page %}

      <section class="section parallax-container section-custom-1" data-parallax-img="{{ asset('site/images/uploads/' ~ category.imageUrl ) }}">
        <div class="parallax-content section-md text-left section-first-2 title-parallax">
          <div class="container">
            <div class="box-info-renee-decor"></div>
            <h1 class="box-info-renee-title wow fadeScale" style="color:white;">{{ category.pageTitle }}</h1>
            <div class="box-info-renee-subtitle wow fadeInLeft" style="color:white;">{{ category.tagline }}</div>
            <p class="box-info-renee-text wow fadeInRight" style="color:white;">{{ category.summary }}</p>
            <a class="link-classic box-info-renee-link wow fadeInUp" style="color:white;" href="#products">Shop Now</a>
          </div>
        </div>
      </section>
      {% set customDelimiter = '</p>' %}
      {% set paragraphs = category.description|raw|split(customDelimiter) %}
      {% set firstThree = paragraphs|slice(0, 3) %}
      {% set remaining = paragraphs|slice(3) %}

      <section class="section section-sm section-last bg-default text-left">
        <div class="container">
          <div class="row">
            {% if category.videoUrl|length > 3 %}
            <div class="col-md-6">
              <h2>{{ category.categoryName }} Video</h2>
              <p>{{ category.videoUrl|raw }}</p>
            </div>
            {% endif %}
            <div class="col-md-6">
              <h2 class="title-style-9 wow fadeInRight">Best Affordable {{ category.categoryName }} in Nairobi, Kenya</h2>
              <div class="first-three-paragraphs">
                {% for paragraph in firstThree %}
                {% set full_paragraph = paragraph ~ customDelimiter %}
                  {{ full_paragraph|raw }}
                {% endfor %}
              </div>
              <div class="group-md group-middle"><a class="button button-lg button-primary-2 button-zakaria" href="#products">Shop Now</a><a class="button button-lg button-default-outline button-zakaria" href="#remaining">Read More</a></div>
            </div>
          </div>
        </div>
      </section>
       
      <!-- Top Products-->
      <section id="products" class="section section-xxl bg-gray-1">
        <div class="container">
          <h2 class="title-style-8 wow fadeScale">{{ category.categoryName }} Products</h2>
          <div class="isotope-wrap">
            <div class="isotope-filters">
              <button class="isotope-filters-toggle button button-sm button-icon button-icon-right button-default-outline" data-custom-toggle=".isotope-filters-list" data-custom-toggle-hide-on-blur="true"><span class="icon mdi mdi-chevron-down"></span>Filter</button>
            </div>
            <div class="row row-30 row-lg-50 isotope">
            {% for product in products %}
              <div class="col-sm-6 col-md-4 col-lg-3 isotope-item" data-filter="{% for category in product.categories %} {{ category|replace({' ': '-'}) ~ ' ' }} {% endfor %}">
                <!-- Product-->
                <article class="product product-2 wow fadeInRight">
                  <div class="product-body">
                    <div class="product-figure"><a href="{{ path('product_show', {'product_slug': product.slug }) }}"><img src="{{ asset('site/images/products/' ~ product.images ) }}" alt="" width="144" height="199"/></a>
                    </div>
                    <h5 class="product-title"><a href="{{ path('product_show', {'product_slug': product.slug }) }}">{{ product.productName }}</a></h5>
                    <div class="product-price-wrap">
                      <div class="product-price">KSh {{ product.price }}</div>
                    </div>
                  </div>
                  <div class="product-button-wrap">
                    <div class="product-button"><a class="button button-gray-14 button-zakaria fl-bigmug-line-search74" href="{{ path('product_show', {'product_slug': product.slug }) }}"></a></div>
                    <div class="product-button"><form id="prodForm-{{product.id}}"><input type="hidden" id="quantity_{{product.id}}" value="1"><button style="margin-top:0" name="cartProd_{{product.id}}" id="cartProd_{{product.id}}" class="button button-primary-2 button-zakaria fl-bigmug-line-shopping202" type="button"></button></form></div>
                  </div>
                </article>
              </div>
            {% endfor %}

            </div>
          </div>
        </div>
      </section>
      
      <!-- About Us-->
      <section id="remaining" class="section section-xxl section-inset-3 text-sm-left bg-gray-13 bg-image" style="padding-bottom:200px;background-image: url({{asset('site/images/bg_with_logo.png') }});">
        <div class="container">
          <div class="row">
            <div class="col-sm-9 col-md-9 col-lg-9 box-about">
              <h2>More about {{ category.categoryName }}</h2>
              <div class="remaining-paragraphs">
                {% for paragraph in paragraphs|slice(3) %}
                {% set full_paragraph = paragraph ~ customDelimiter %}
                  {{ full_paragraph|raw }}
                {% endfor %}
              </div>            
            </div>
          </div>
        </div>
      </section>

      <!-- Calls to action-->
      <section class="section section-xl text-md-left bg-image" style="background-image: url({{ asset('site/images/Parallax-calendula-bg-1920x402.jpg') }});">
        <div class="container">
          <div class="row row-30 align-items-center justify-content-md-between">
            <div class="col-md-6 col-lg-8">
              <h3 class="text-spacing-100">Get 10% Off On Every Repeat Purchase</h3>
              <h6 class="font-weight-light">Every time we notice that you've come back for more, we give you 10% discount..</h6>
            </div>
            <div class="col-md-auto"><a class="button button-lg button-shadow-2 button-primary-2 button-zakaria" href="{{ path('app_shop')}}">Shop Now</a></div>
          </div>
        </div>
      </section>

      <!-- Gallery-->
      <section class="section section-sm section-last bg-default">
        <div class="container">
          <div class="row no-gutters" data-lightgallery="group">
            <div class="col-6 col-sm-4 col-lg-3"><a class="thumbnail-minimal" href="{{ asset('site/images/uploads/instagram/Babyblossom-' ~ category.slug ~ '-1.jpg') }}" data-lightgallery="item"><img src="{{ asset('site/images/uploads/instagram-sm/bblossom-' ~ category.slug ~ '-1.jpg') }}" alt="" width="290" height="219"/></a></div>
            <div class="col-6 col-sm-4 col-lg-3"><a class="thumbnail-minimal" href="{{ asset('site/images/uploads/instagram/Babyblossom-' ~ category.slug ~ '-2.jpg') }}" data-lightgallery="item"><img src="{{ asset('site/images/uploads/instagram-sm/bblossom-' ~ category.slug ~ '-2.jpg') }}" alt="" width="290" height="219"/></a></div>
            <div class="col-6 col-sm-4 col-lg-3"><a class="thumbnail-minimal" href="{{ asset('site/images/uploads/instagram/Babyblossom-' ~ category.slug ~ '-3.jpg') }}" data-lightgallery="item"><img src="{{ asset('site/images/uploads/instagram-sm/bblossom-' ~ category.slug ~ '-3.jpg') }}" alt="" width="290" height="219"/></a></div>
            <div class="col-6 col-sm-4 col-lg-3"><a class="thumbnail-minimal" href="{{ asset('site/images/uploads/instagram/Babyblossom-' ~ category.slug ~ '-4.jpg') }}" data-lightgallery="item"><img src="{{ asset('site/images/uploads/instagram-sm/bblossom-' ~ category.slug ~ '-4.jpg') }}" alt="" width="290" height="219"/></a></div>
            <div class="col-6 col-sm-4 col-lg-3"><a class="thumbnail-minimal" href="{{ asset('site/images/uploads/instagram/Babyblossom-' ~ category.slug ~ '-5.jpg') }}" data-lightgallery="item"><img src="{{ asset('site/images/uploads/instagram-sm/bblossom-' ~ category.slug ~ '-5.jpg') }}" alt="" width="290" height="219"/></a></div>
            <div class="col-6 col-sm-4 col-lg-3"><a class="thumbnail-minimal" href="{{ asset('site/images/uploads/instagram/Babyblossom-' ~ category.slug ~ '-6.jpg') }}" data-lightgallery="item"><img src="{{ asset('site/images/uploads/instagram-sm/bblossom-' ~ category.slug ~ '-6.jpg') }}" alt="" width="290" height="219"/></a></div>
            <div class="col-6 col-sm-4 col-lg-3"><a class="thumbnail-minimal" href="{{ asset('site/images/uploads/instagram/Babyblossom-' ~ category.slug ~ '-7.jpg') }}" data-lightgallery="item"><img src="{{ asset('site/images/uploads/instagram-sm/bblossom-' ~ category.slug ~ '-7.jpg') }}" alt="" width="290" height="219"/></a></div>
            <div class="col-sm-4 col-lg-3 d-flex align-items-center justify-content-center">
              <div class="box-info-rose-2">
                <p class="box-info-rose-text">Instagram</p><a class="link-classic link-primary" href="#">@babyblossomke</a>
              </div>
            </div>
          </div>
        </div>
      </section> 

{% endblock %}

{% block javascripts_bottom %}


<script>
    $(document).ready(function () {
        $('button[id^="cartProd_"]').on('click', function () {
            var formId = $(this).closest('form').attr('id');
            var productId = formId.split('-')[1];
            var clickedButton = $('#' + formId + ' button').attr('name');
            console.log(formId);
            console.log(productId);
            console.log(clickedButton);
            $.ajax({
                type: 'POST',
                url: "{{path('add_product_to_cart_index') }}", // Replace with your actual controller action route
                data: {
                    product_id: productId,
                    clickedButton: clickedButton
                },
                success: function (response) {
                    console.log(response);
                    // Handle the response, update the cart UI, etc.
                    if (response.status === 'success') {
                        // Update total products and total price in your UI
                        window.location.href = '/cart';
                    }
                },
                error: function (error) {
                    console.error(error);
                }
            });
        });
    });
</script>


{% endblock %}