{% extends 'base.html.twig' %}

{% block stylesheets %} 
{{ leogout_seo() }} 
<style>
    h2{
        font-size: 26px;
        text-transform: capitalize;
        
    }
    p, ul, ol, div{
      font-size:16px!important;
      line-height:1.5;
      text-align: left;
    }

    ul, ol {
        list-style-type: disc;
    }
    
</style>
{% endblock %}
{% block page %}
      <section class="breadcrumbs-custom">
        <div class="parallax-container" data-parallax-img="/site/images/baby-blossom-all-products-banner.jpg">
          <div class="breadcrumbs-custom-body parallax-content">
            <div class="container">
              <h1 class="breadcrumbs-custom-title">Frequenty Asked Questionss</h1>
            </div>
          </div>
        </div>
        <div class="breadcrumbs-custom-footer">
          <div class="container">
            <ul class="breadcrumbs-custom-path">
              <li><a href="{{ path('app_default') }}">Home</a></li>
              <li><a href="#">Pages</a></li>
              <li class="active">FAQ</li>
            </ul>
          </div>
        </div>
      </section>
      <!-- Frequenty Asked Questionss-->
      <section class="section section-xxl bg-default text-md-left">
        <div class="container">
          <div class="row">
            <div class="col-lg-10 col-xl-8">
              <!-- Terms list-->
              {{ faq.content|replace({'.' : '.<br><br>'})|raw }}
            </div>
          </div>
        </div>
      </section>
{% endblock %}      

