{% extends 'base.html.twig' %}

{% block stylesheets %} {{ leogout_seo() }} {% endblock %}
{% block page %}
      <section class="section parallax-container section-custom-1" data-parallax-img="{{ asset('site/images/babywithbabyblossom.jpg') }}">
        <div class="parallax-content section-md text-left section-first-2 title-parallax">
          <div class="container">
            <div class="box-info-renee-decor"></div>
            <h1 class="box-info-renee-title wow fadeScale">Natural Baby Skin Care For Eczema and Sensitive Skin</h1>
            <div class="box-info-renee-subtitle wow fadeInLeft" style="color:black;">Your natural one stop for baby soap, baby lotion, baby shampoo, and massage oil.</div>
            <p class="box-info-renee-text wow fadeInRight" style="color:black;">Baby Skin care products for babies with eczema or sensitive skin. Best baby soap, lotion, shampoo and massage oil with 100% natural ingredients.</p>
            <a class="link-classic box-info-renee-link wow fadeInUp" href="{{path('app_shop')}}">Shop Now</a>
          </div>
        </div>
      </section>
      <!-- Section-->
      <section class="section section-lg bg-default">
        <div class="container">
          <div class="row row-30 justify-content-center justify-content-md-between align-items-center">
            <div class="col-sm-5 col-md-4 col-lg-5 col-xl-7">
              <div class="slick-slider-2">
                <div class="slick-slider child-carousel" id="child-carousel-4" data-items="1" data-arrows="true" data-arrows-class=".custom-arrows" data-for="#carousel-parent-4">
                {% for prodDisplay in productdisplays %}                  
                  <div class="item"><img src="{{ asset('site/images/product_display/' ~ prodDisplay.path ) }}" alt="" width="209" height="584"/>
                  </div>
                {% endfor %}
                </div>
                <div class="custom-arrows"><span></span></div>
              </div>
            </div>
            <div class="col-md-7 col-lg-6 col-xl-5">
              <!-- Slick Carousel-->
              <div class="slick-slider carousel-parent" id="carousel-parent-4" data-items="1" data-autoplay="false" data-slide-effect="true" data-child="#child-carousel-4" data-for="#child-carousel-4">
                {% for prodDisplay in productdisplays %}
                <div class="item">
                  <!-- Product Beth-->
                  <article class="product-beth">
                    <div class="product-beth-badge">Featured</div>
                    <h2 class="product-beth-title"><a href="{{path('product_show', {'product_slug': prodDisplay.product.slug })}}">{{prodDisplay.product.productName}}</a></h2>
                    <h4 class="product-beth-subtitle">KSh{{prodDisplay.product.price}}</h4>
                    <p class="product-beth-text box-1">{{prodDisplay.product.description|slice(0,200)|raw}}...</p>
                    <div class="group-md group-middle"><a class="button button-lg button-primary-2 button-zakaria" href="{{ path('product_show', {'product_slug': prodDisplay.product.slug }) }}">Learn more</a><a class="button button-lg button-default-outline button-zakaria" href="{{path('app_shop')}}">View all</a></div>
                  </article>
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- About Us-->
      <section class="section section-xxl section-inset-3 text-sm-left bg-gray-13 bg-image" style="background-image: url({{asset('site/images/Calendula-flower-background-1900x706.jpg') }});">
        <div class="container">
          <div class="row">
            <div class="col-sm-9 col-md-9 col-lg-9 box-about">
              <h2 class="title-style-9 wow fadeInRight">Best Baby Skin Care Products in Nairobi</h2>
              <p class="wow fadeInRight box-2" data-wow-delay=".1s">Baby blossom is a line of baby skin care products made from 100% natural ingredients. We use organic ingredients to protect and nourish your baby's skin making Baby Blossom the best skin care products in the market. Our main ingredient is calendula extract.</p>
              <p class="wow fadeInRight box-2" data-wow-delay=".2s">Calendula is a plant species that is known as marigold. Calendula soothes rashes and soreness, is great for dry and chapped skin, good for eczema prone skin and sensitive skin. It is antiseptic and calms acneic skin, just to name a few benefits.</p><img src="{{ asset('site/images/signature-2-230x78.png') }}" alt="" width="230" height="78"/>
            </div>
          </div>
        </div>
      </section>
      <!-- Top Products-->
      <section id="products" class="section section-xxl bg-gray-1">
        <div class="container">
          <h2 class="title-style-8 wow fadeScale">Top Products</h2>
          <div class="isotope-wrap">
            <div class="isotope-filters">
              <button class="isotope-filters-toggle button button-sm button-icon button-icon-right button-default-outline" data-custom-toggle=".isotope-filters-list" data-custom-toggle-hide-on-blur="true"><span class="icon mdi mdi-chevron-down"></span>Filter</button>
              <div class="isotope-filters-list-wrap">
                <ul class="isotope-filters-list">
                  <li><a class="active" href="#" data-isotope-filter="*">All</a></li>
                  {% for category in categories %}
                  <li><a href="#" data-isotope-filter="{{category.categoryName|replace({' ': '-'})}}">{{category.categoryName}}</a></li>
                  {% endfor %}
                </ul>
              </div>
            </div>
            <div class="row row-30 row-lg-50 isotope">
            {% for product in products %}
              <div class="col-sm-6 col-md-4 col-lg-3 isotope-item" data-filter="{% for category in product.categories %} {{ category|replace({' ': '-'}) ~ ' ' }} {% endfor %}">
                <!-- Product-->
                <article class="product product-2 wow fadeInRight">
                  <div class="product-body">
                    <div class="product-figure"><a href="{{ path('product_show', {'product_slug': product.slug }) }}"><img src="{{ asset('site/images/products/' ~ product.images ) }}" alt="" width="144" height="199"/></a>
                    </div>
                    <h5 class="product-title"><a href="{{ path('product_show', {'product_slug': product.slug }) }}">{{ product.productName }}</a></h5>
                    <div class="product-price-wrap">
                      <div class="product-price">KSh {{ product.price }}</div>
                    </div>
                  </div>
                  <div class="product-button-wrap">
                    <div class="product-button"><a class="button button-gray-14 button-zakaria fl-bigmug-line-search74" href="{{ path('product_show', {'product_slug': product.slug }) }}"></a></div>
                    <div class="product-button"><form id="prodForm-{{product.id}}"><input type="hidden" id="quantity_{{product.id}}" value="1"><button style="margin-top:0" name="cartProd_{{product.id}}" id="cartProd_{{product.id}}" class="button button-primary-2 button-zakaria fl-bigmug-line-shopping202" type="button"></button></form></div>
                  </div>
                </article>
              </div>
            {% endfor %}

            </div>
            {# <a class="link-classic wow fadeInUp" href="grid-shop.html">More Products</a> #}
          </div>
        </div>
      </section>
      <!-- New Collection-->
      <section class="section section-xxl bg-default text-sm-left bg-image bg-image-8" style="background-image: url({{ asset('site/images/Baby-lotion-background-image-1920x608.jpg') }});">
        <div class="container">
          <div class="row row-30 justify-content-center justify-content-sm-end">
            <div class="col-6"></div>
            <div class="col-sm-6 col-md-6">
              <article class="box-info-beryl">
                <h2 class="box-info-beryl-title wow fadeInRight">Benefit of Calendula Extract</h2>
                <div class="box-info-beryl-time wow fadeInRight" data-wow-delay=".1s">Our Main Ingredient</div>
                <p class="box-info-beryl-text box-3 wow fadeInRight" data-wow-delay=".2s">Calendula oil has antifungal, anti-inflammatory, and antibacterial properties which is useful in wound healing, soothing eczema and relieving diaper rash. A research done in 2012 shows that calendula showed diaper rash improvement after 6 hours and clearance in 3 days. It is also used as an antiseptic. It may be an alternative remedy to treat various skin conditions as well as improve the quality and appearance of the skin.</p><a class="button button-lg button-primary-2 button-zakaria wow fadeInUp" href="{{path('app_default')}}">Shop Now</a>
              </article>
            </div>
          </div>
        </div>
      </section>
      <!-- Our Team-->
      {# <section class="section section-xxl bg-default">
        <div class="container">
          <h2 class="title-style-8 wow fadeScale">Our Team</h2>
          <!-- Owl Carousel-->
          <div class="owl-carousel owl-style-10 owl-dots-styles-1" data-items="1" data-sm-items="2" data-lg-items="3" data-margin="30" data-dots="true" data-mouse-drag="false">
            <article class="team-karen wow slideInUp" data-wow-delay=".1s">
              <div class="team-karen-header"><a class="team-karen-figure" href="#"><img src="{{ asset('site/images/team-18-250x233.jpg') }}" alt="" width="250" height="233"/></a>
                <svg x="0px" y="0px" width="330px" height="245px" viewBox="0 0 330 245" enable-background="new 0 0 330 245">
                  <path d="M305,0v206.855c0,7.26-5.373,13.145-12,13.145H37c-6.627,0-12-5.885-12-13.145V0H0v245h330V0H305z"></path>
                </svg>
              </div>
              <div class="team-karen-body">
                <h4 class="team-karen-name"><a href="#">Emily Thompson</a></h4>
                <div class="team-karen-status">CEO, Founder</div>
                <ul class="list-inline team-karen-list-social list-social-2 list-inline-md">
                  <li><a class="icon mdi mdi-facebook" href="#"></a></li>
                  <li><a class="icon mdi mdi-twitter" href="#"></a></li>
                  <li><a class="icon mdi mdi-instagram" href="#"></a></li>
                  <li><a class="icon mdi mdi-google-plus" href="#"></a></li>
                </ul>
              </div>
            </article>
            <article class="team-karen wow slideInUp">
              <div class="team-karen-header"><a class="team-karen-figure" href="#"><img src="{{ asset('site/images/team-19-250x233.jpg') }}" alt="" width="250" height="233"/></a>
                <svg x="0px" y="0px" width="330px" height="245px" viewBox="0 0 330 245" enable-background="new 0 0 330 245">
                  <path d="M305,0v206.855c0,7.26-5.373,13.145-12,13.145H37c-6.627,0-12-5.885-12-13.145V0H0v245h330V0H305z"></path>
                </svg>
              </div>
              <div class="team-karen-body">
                <h4 class="team-karen-name"><a href="#">Rebecca Martinez</a></h4>
                <div class="team-karen-status">Store Manager</div>
                <ul class="list-inline team-karen-list-social list-social-2 list-inline-md">
                  <li><a class="icon mdi mdi-facebook" href="#"></a></li>
                  <li><a class="icon mdi mdi-twitter" href="#"></a></li>
                  <li><a class="icon mdi mdi-instagram" href="#"></a></li>
                  <li><a class="icon mdi mdi-google-plus" href="#"></a></li>
                </ul>
              </div>
            </article>
            <article class="team-karen wow slideInUp" data-wow-delay=".1s">
              <div class="team-karen-header"><a class="team-karen-figure" href="#"><img src="{{ asset('site/images/team-20-250x233.jpg') }}" alt="" width="250" height="233"/></a>
                <svg x="0px" y="0px" width="330px" height="245px" viewBox="0 0 330 245" enable-background="new 0 0 330 245">
                  <path d="M305,0v206.855c0,7.26-5.373,13.145-12,13.145H37c-6.627,0-12-5.885-12-13.145V0H0v245h330V0H305z"></path>
                </svg>
              </div>
              <div class="team-karen-body">
                <h4 class="team-karen-name"><a href="#">Julia Zimmer</a></h4>
                <div class="team-karen-status">Quality Control Manager</div>
                <ul class="list-inline team-karen-list-social list-social-2 list-inline-md">
                  <li><a class="icon mdi mdi-facebook" href="#"></a></li>
                  <li><a class="icon mdi mdi-twitter" href="#"></a></li>
                  <li><a class="icon mdi mdi-instagram" href="#"></a></li>
                  <li><a class="icon mdi mdi-google-plus" href="#"></a></li>
                </ul>
              </div>
            </article>
          </div>
        </div>
      </section> #}

      <!-- Counter Modern-->
      <section class="section parallax-container" {# data-parallax-img="{{ asset('site/images/Parallax-calendula-bg-1920x402.jpg') }}" #}>
        <div class="parallax-content section-xxl">
          <div class="container">
            <div class="row row-30 justify-content-center">
              <div class="col-6 col-sm-4">
                <div class="counter-modern">
                  <h2 class="counter-modern-number"><span class="counter">5</span>
                  </h2>
                  <div class="counter-modern-decor"></div>
                  <h5 class="counter-modern-title">Years<br class="d-none d-sm-block"> of Experience</h5>
                </div>
              </div>
              <div class="col-6 col-sm-4">
                <div class="counter-modern">
                  <h2 class="counter-modern-number"><span class="counter">9</span>
                  </h2>
                  <div class="counter-modern-decor"></div>
                  <h5 class="counter-modern-title"><a href="#partners">Partners<br class="d-none d-sm-block"> In Kenya</a></h5>
                </div>
              </div>
              <div class="col-6 col-sm-4">
                <div class="counter-modern">
                  <h2 class="counter-modern-number"><span class="counter">7</span>
                  </h2>
                  <div class="counter-modern-decor"></div>
                  <h5 class="counter-modern-title">Exclusive<br class="d-none d-sm-block"> Products</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- Calls to action-->
      <section class="section section-xl text-md-left bg-image" style="background-image: url({{ asset('site/images/Parallax-calendula-bg-1920x402.jpg') }});">
        <div class="container">
          <div class="row row-30 align-items-center justify-content-md-between">
            <div class="col-md-6 col-lg-8">
              <h3 class="text-spacing-100">Get 10% Off On Every Repeat Purchase</h3>
              <h6 class="font-weight-light">Every time we notice that you've come back for more, we give you 10% discount..</h6>
            </div>
            <div class="col-md-auto"><a class="button button-lg button-shadow-2 button-primary-2 button-zakaria" href="#">Shop Now</a></div>
          </div>
        </div>
      </section>

      <!-- What People Say-->
      <section class="section section-xxl bg-default">
        <div class="container">
          <h2 class="title-style-8 wow fadeScale">Customer Reviews</h2>
          <!-- Owl Carousel-->
          <div class="owl-carousel owl-style-12 owl-dots-styles-1" data-items="1" data-sm-items="2" data-lg-items="3" data-margin="30" data-dots="true" data-autoplay="true">
            <!-- Quote Creative-->
            <article class="quote-creative">
              <div class="quote-creative-text">
                <div class="q">I love Baby Blossom products so much! I use both Body wash and Lotion which has made my beautiful daughter's skin so smooth. She also smells so sweet all day long. I can't stop using them.</div>
              </div>
              <div class="quote-creative-rating"><span class="icon mdi mdi-star"></span><span class="icon mdi mdi-star"></span><span class="icon mdi mdi-star"></span><span class="icon mdi mdi-star"></span><span class="icon mdi mdi-star"></span></div>
              <div class="unit unit-spacing-sm flex-column flex-md-row align-items-center">
                <div class="unit-left">
                  <div class="quote-creative-figure"><img src="{{ asset('site/images/bitutu.png') }}" alt="bitutu review" width="62" height="62"/>
                  </div>
                </div>
                <div class="unit-body">
                  <div class="quote-creative-author"><a href="https://g.co/kgs/GZnHB2">Esther Bitutu</a></div>
                </div>
              </div>
            </article>
            <!-- Quote Creative-->
            <article class="quote-creative">
              <div class="quote-creative-text">
                <div class="q">Your products are the BEST! They have really come through for me and my child. YOU'RE truly doing God's work. HIGHLY RECOMMEND</div>
              </div>
              <div class="quote-creative-rating"><span class="icon mdi mdi-star"></span><span class="icon mdi mdi-star"></span><span class="icon mdi mdi-star"></span><span class="icon mdi mdi-star"></span><span class="icon mdi mdi-star"></span></div>
              <div class="unit unit-spacing-sm flex-column flex-md-row align-items-center">
                <div class="unit-left">
                  <div class="quote-creative-figure"><img src="{{ asset('site/images/ruth-edward.png') }}" alt="ruth edward review" width="62" height="62"/>
                  </div>
                </div>
                <div class="unit-body">
                  <div class="quote-creative-author"><a href="https://g.co/kgs/nnGJCp">Ruth Edward</a></div>
                </div>
              </div>
            </article>
            <!-- Quote Creative-->
            <article class="quote-creative">
              <div class="quote-creative-text">
                <div class="q">My girl is glowing. I have used the products both lotion and soap,so far so good 😘 we're 9 months now.</div>
              </div>
              <div class="quote-creative-rating"><span class="icon mdi mdi-star"></span><span class="icon mdi mdi-star"></span><span class="icon mdi mdi-star"></span><span class="icon mdi mdi-star"></span><span class="icon mdi mdi-star"></span></div>
              <div class="unit unit-spacing-sm flex-column flex-md-row align-items-center">
                <div class="unit-left">
                  <div class="quote-creative-figure"><img src="{{ asset('site/images/carol-freds.png') }}" alt=" carol freds review" width="62" height="62"/>
                  </div>
                </div>
                <div class="unit-body">
                  <div class="quote-creative-author"><a href="https://g.co/kgs/n34gjH">Carol Freds</a></div>
                </div>
              </div>
            </article>
            <!-- Quote Creative-->
            <article class="quote-creative">
              <div class="quote-creative-text">
                <div class="q">Since I started using your products they have worked perfectly  on my baby ,continue giving the best quality ,but I have a request try to add more products like sunscreens.</div>
              </div>
              <div class="quote-creative-rating"><span class="icon mdi mdi-star"></span><span class="icon mdi mdi-star"></span><span class="icon mdi mdi-star"></span><span class="icon mdi mdi-star"></span><span class="icon mdi mdi-star"></span></div>
              <div class="unit unit-spacing-sm flex-column flex-md-row align-items-center">
                <div class="unit-left">
                  <div class="quote-creative-figure"><img src="{{ asset('site/images/mary-njoki.png') }}" alt="mary njoki review" width="62" height="62"/>
                  </div>
                </div>
                <div class="unit-body">
                  <div class="quote-creative-author"><a href="https://g.co/kgs/tMDwV5">Mary Njoki</a></div>
                </div>
              </div>
            </article>
            <!-- Quote Creative-->
            <article class="quote-creative">
              <div class="quote-creative-text">
                <div class="q">The products are good,they blended well with my baby skin n they give such a lovely results especially for the lotion to her n to my face.</div>
              </div>
              <div class="quote-creative-rating"><span class="icon mdi mdi-star"></span><span class="icon mdi mdi-star"></span><span class="icon mdi mdi-star"></span><span class="icon mdi mdi-star"></span><span class="icon mdi mdi-star"></span></div>
              <div class="unit unit-spacing-sm flex-column flex-md-row align-items-center">
                <div class="unit-left">
                  <div class="quote-creative-figure"><img src="{{ asset('site/images/diana.png') }}" alt="diana chamwada review" width="62" height="62"/>
                  </div>
                </div>
                <div class="unit-body">
                  <div class="quote-creative-author"><a href="https://g.co/kgs/UkJQq6">Diana Chamwada</a></div>
                </div>
              </div>
            </article>
            <!-- Quote Creative-->
            <article class="quote-creative">
              <div class="quote-creative-text">
                <div class="q">I started using your products just when I gave birth to my son in 2022 now he is 2yrs and I've never changed them. So far so go and am not changing anytime soon.</div>
              </div>
              <div class="quote-creative-rating"><span class="icon mdi mdi-star"></span><span class="icon mdi mdi-star"></span><span class="icon mdi mdi-star"></span><span class="icon mdi mdi-star"></span><span class="icon mdi mdi-star"></span></div>
              <div class="unit unit-spacing-sm flex-column flex-md-row align-items-center">
                <div class="unit-left">
                  <div class="quote-creative-figure"><img src="{{ asset('site/images/Racheal-joy.png') }}" alt="racheal joy review" width="62" height="62"/>
                  </div>
                </div>
                <div class="unit-body">
                  <div class="quote-creative-author"><a href="https://g.co/kgs/vhv48m">Racheal-joy</a></div>
                </div>
              </div>
            </article>
          </div>
        </div>
      </section>

      <!-- Calls to action-->
      <section class="section section-xl text-md-left bg-image" style="background-image: url({{ asset('site/images/Parallax-calendula-bg-1920x402.jpg') }});">
        <div class="container">
          <div class="row row-30 align-items-center justify-content-md-between">
            <div class="col-md-6 col-lg-8">
              <h3 class="text-spacing-100">Get 10% Off On Every Repeat Purchase</h3>
              <h6 class="font-weight-light">Every time we notice that you've come back for more, we give you 10% discount..</h6>
            </div>
            <div class="col-md-auto"><a class="button button-lg button-shadow-2 button-primary-2 button-zakaria" href="#">Shop Now</a></div>
          </div>
        </div>
      </section>

      <!-- Gallery-->
      <section class="section section-sm section-last bg-default">
        <div class="container">
          <div class="row no-gutters" data-lightgallery="group">
            <div class="col-6 col-sm-4 col-lg-3"><a class="thumbnail-minimal" href="{{ asset('site/images/uploads/instagram/Babyblossom-1.jpg') }}" data-lightgallery="item"><img src="{{ asset('site/images/uploads/instagram-sm/bblossom-1.jpg') }}" alt="" width="290" height="219"/></a></div>
            <div class="col-6 col-sm-4 col-lg-3"><a class="thumbnail-minimal" href="{{ asset('site/images/uploads/instagram/Babyblossom-2.jpg') }}" data-lightgallery="item"><img src="{{ asset('site/images/uploads/instagram-sm/bblossom-2.jpg') }}" alt="" width="290" height="219"/></a></div>
            <div class="col-6 col-sm-4 col-lg-3"><a class="thumbnail-minimal" href="{{ asset('site/images/uploads/instagram/Babyblossom-3.jpg') }}" data-lightgallery="item"><img src="{{ asset('site/images/uploads/instagram-sm/bblossom-3.jpg') }}" alt="" width="290" height="219"/></a></div>
            <div class="col-6 col-sm-4 col-lg-3"><a class="thumbnail-minimal" href="{{ asset('site/images/uploads/instagram/Babyblossom-4.jpg') }}" data-lightgallery="item"><img src="{{ asset('site/images/uploads/instagram-sm/bblossom-4.jpg') }}" alt="" width="290" height="219"/></a></div>
            <div class="col-6 col-sm-4 col-lg-3"><a class="thumbnail-minimal" href="{{ asset('site/images/uploads/instagram/Babyblossom-5.jpg') }}" data-lightgallery="item"><img src="{{ asset('site/images/uploads/instagram-sm/bblossom-5.jpg') }}" alt="" width="290" height="219"/></a></div>
            <div class="col-6 col-sm-4 col-lg-3"><a class="thumbnail-minimal" href="{{ asset('site/images/uploads/instagram/Babyblossom-6.jpg') }}" data-lightgallery="item"><img src="{{ asset('site/images/uploads/instagram-sm/bblossom-6.jpg') }}" alt="" width="290" height="219"/></a></div>
            <div class="col-6 col-sm-4 col-lg-3"><a class="thumbnail-minimal" href="{{ asset('site/images/uploads/instagram/Babyblossom-7.jpg') }}" data-lightgallery="item"><img src="{{ asset('site/images/uploads/instagram-sm/bblossom-7.jpg') }}" alt="" width="290" height="219"/></a></div>
            <div class="col-sm-4 col-lg-3 d-flex align-items-center justify-content-center">
              <div class="box-info-rose-2">
                <p class="box-info-rose-text">Instagram</p><a class="link-classic link-primary" href="#">@babyblossomke</a>
              </div>
            </div>
          </div>
        </div>
      </section>

{% endblock %}

{% block javascripts_bottom %}


<script>
    $(document).ready(function () {
        $('button[id^="cartProd_"]').on('click', function () {
            var formId = $(this).closest('form').attr('id');
            var productId = formId.split('-')[1];
            var clickedButton = $('#' + formId + ' button').attr('name');
            console.log(formId);
            console.log(productId);
            console.log(clickedButton);
            $.ajax({
                type: 'POST',
                url: "{{path('add_product_to_cart_index') }}", // Replace with your actual controller action route
                data: {
                    product_id: productId,
                    clickedButton: clickedButton
                },
                success: function (response) {
                    console.log(response);
                    // Handle the response, update the cart UI, etc.
                    if (response.status === 'success') {
                        // Update total products and total price in your UI
                        window.location.href = '/cart';
                    }
                },
                error: function (error) {
                    console.error(error);
                }
            });
        });
    });
</script>


{% endblock %}