                <!-- RD Mailform-->
                {{ form_start(form, {'attr': {'class': 'contact-form', 'action': path('contact_form')}}) }}
                  <div class="form-wrap">
                    {{ form_row(form.name, {'attr': {'class': 'form-input', 'type': 'email', 'id': 'contact-name', 'data-constraints': '@Required'}}) }}
                    {# <label class="form-label" for="contact-name">Your Name</label> #}
                  </div>
                  <div class="form-wrap">
                    {{ form_row(form.email, {'attr': {'class': 'form-input', 'type': 'email', 'id': 'contact-email', 'data-constraints': '@Email @Required'}}) }}
                    {# <label class="form-label" for="contact-email">E-mail</label> #}
                  </div>
                  <div class="form-wrap">
                    {# <label class="form-label" for="contact-message">Message</label> #}
                    {{ form_row(form.message, {'attr': {'class': 'form-input', 'id': 'contact-message', 'data-constraints': '@Required'}})}}
                  </div>
                  <button class="button button-lg button-primary-2 button-zakaria" type="submit">Send</button>
                {{ form_end(form) }}
                <small>This site is protected by reCAPTCHA and the Google
                <a href="https://policies.google.com/privacy">Privacy Policy</a> and
                <a href="https://policies.google.com/terms">Terms of Service</a> apply.</small>

