      <!-- Page Header-->
      <header class="section page-header header-creative-wrap">

      {% set cart = global_vars('cart') %}
      {% set categories = global_vars('categories') %}
        <!-- RD Navbar-->
        <div class="rd-navbar-wrap">
          <nav class="rd-navbar rd-navbar-creative rd-navbar-logo-mobile" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-fixed" data-xl-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static" data-xxl-layout="rd-navbar-static" data-xxl-device-layout="rd-navbar-static" data-lg-stick-up-offset="100px" data-xl-stick-up-offset="112px" data-xxl-stick-up-offset="132px" data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true">
            <div class="rd-navbar-collapse-toggle rd-navbar-fixed-element-1" data-rd-navbar-toggle=".rd-navbar-collapse"><span></span></div>
            <div class="rd-navbar-aside-outer">
              <div class="rd-navbar-aside">
                <div class="rd-navbar-collapse">
                  <ul class="contacts-classic">
                    <li><span class="contacts-classic-title">Call us:</span> <a href="tel:#">+254 757 066500</a>
                    </li>
                    <li><a class="link-primary-2" href="mailto:#">blossombabyco@gmail.com</a></li>
                  </ul><a class="rd-navbar-basket rd-navbar-basket-mobile fl-bigmug-line-shopping202" href="{{ path('cart') }}"><span class="prodQty">{{cart.orderItems|length}}</span></a>
                </div>
                <!-- RD Navbar Panel-->
                <div class="rd-navbar-panel">
                  <!-- RD Navbar Toggle-->
                  <button id="toggle-nav-icon" class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                  <!-- RD Navbar Brand-->
                  <div class="rd-navbar-brand"><a class="brand" href="{{ path('app_default')}}"><img class="brand-logo-dark" src="{{ asset('site/images/baby-blossom-logo-text.png') }}" alt="" width="148" height="75" srcset="{{ asset('site/images/baby-blossom-logo-text.png') }} 2x"/><img class="brand-logo-light" src="{{ asset('site/images/baby-blossom-logo-text-inverted.png') }}" alt="" width="148" height="75" srcset="{{ asset('site/images/baby-blossom-logo-text.png') }} 2x"/><img class="brand-logo-fixed" src="{{ asset('site/images/baby-blossom-logo-text.png') }}" alt="" width="148" height="75" srcset="{{ asset('site/images/baby-blossom-logo-text.png') }} 2x"/></a>
                  </div>
                </div>
                <div class="rd-navbar-aside-element">
                  <!-- RD Navbar Search-->
                  {# <div class="rd-navbar-search rd-navbar-search-2">
                    <button class="rd-navbar-search-toggle rd-navbar-fixed-element-3" data-rd-navbar-toggle=".rd-navbar-search"><span></span></button>
                    <form class="rd-search" action="#" data-search-live="rd-search-results-live" method="GET">
                      <div class="form-wrap">
                        <label class="form-label" for="rd-navbar-search-form-input">Search...</label>
                        <input class="rd-navbar-search-form-input form-input" id="rd-navbar-search-form-input" type="text" name="s" autocomplete="off"/>
                        <div class="rd-search-results-live" id="rd-search-results-live"></div>
                        <button class="rd-search-form-submit fl-bigmug-line-search74" type="submit"></button>
                      </div>
                    </form>
                  </div> #}
                  <!-- RD Navbar Basket-->
                  <div class="rd-navbar-fixed-element-2  select-inline rd-navbar-search rd-navbar-search-2">
                    <button class="rd-navbar-basket fl-bigmug-line-shopping202" data-rd-navbar-toggle=".cart-inline"><span class="prodQty">{{cart.orderItems|length}}</span></button>
                    <div class="cart-inline">
                      <div class="cart-inline-header">
                        <h5 class="cart-inline-title">In cart:<span> {{cart.orderItems|length}}</span> Products</h5>
                        <h6 class="cart-inline-title">Total price:<span> KSh {{cart.total}}</span></h6>
                      </div>
                      <div class="cart-inline-body">
                      {% for item in cart.orderItems %}
                        <div class="cart-inline-item">
                          <div class="unit unit-spacing-sm align-items-center">
                            <div class="unit-left"><a class="cart-inline-figure" href="{{ path('product_show', {'product_slug': item.product.slug }) }}"><img style="width:60px;height:60px;" src="{{ asset('/site/images/products/' ~ item.product.images ) }}" alt="" width="100" height="90"/></a></div>
                            <div class="unit-body">
                              <h6 class="cart-inline-name"><a href="{{ path('product_show', {'product_slug': item.product.slug }) }}">{{item.product.productName}}</a></h6>
                              <div>
                                <div class="group-xs group-middle">
                                  <h6 class="cart-inline-title">Qty: {{item.quantity}} Total: {{item.subtotal}}</h6>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      {% endfor %}
                      </div>
                      <div class="cart-inline-footer">
                        <div class="group-sm"><a class="button button-default-outline-2 button-zakaria" href="{{ path('cart') }}">Go to cart</a><a style="margin-top:0" class="button button-primary button-zakaria" href="{{ path('checkout') }}">Checkout</a></div>
                      </div>
                    </div>
                  </div>
                  <select class="select select-inline rd-navbar-basket-wrap " data-placeholder="Select an option" data-dropdown-class="select-inline-dropdown">
                    <option value="en" selected="">en</option>
                    <option value="fr">fr</option>
                    <option value="es">es</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="rd-navbar-main-outer">
              <div class="rd-navbar-main">
                <div id="mobile-menu" class="rd-navbar-nav-wrap">
                  <!-- RD Navbar Nav-->
                  <ul class="rd-navbar-nav">
                    <li class="rd-nav-item {{ app.request.attributes.get('_route') == "app_default" ? 'active' : '' }}"><a class="rd-nav-link" href="{{ path('app_default' )}}">Home</a>
                    </li>
                    <li class="rd-nav-item {{ app.request.attributes.get('_route') == "app_shop" ? 'active' : '' }}"><a id="products-link" class="rd-nav-link" href="{{path('app_shop')}}">Shop</a>
                      <!-- RD Navbar Dropdown-->
                      <ul class="rd-menu rd-navbar-dropdown">
                        {% for category in categories %}
                            <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="{{path('category_index', {'category_slug': category.slug })}}">{{ category.categoryName }}</a></li>
                        {% endfor %}
                      </ul>
                    </li>
                    <li class="rd-nav-item {{ app.request.attributes.get('_route') == "app_blog" ? 'active' : '' }}"><a class="rd-nav-link" href="{{ path('app_blog') }}">Blog</a>
                      {# <!-- RD Navbar Dropdown-->
                      <ul class="rd-menu rd-navbar-dropdown">
                        <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="{{ path('app_blog') }}">Grid Blog</a></li>
                        <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="blog-post.html">Blog Post</a></li>
                      </ul> #}
                    </li>
                    <li class="rd-nav-item {{ app.request.attributes.get('_route') == "app_about" ? 'active' : '' }}"><a class="rd-nav-link" href="{{ path('app_about') }}">About Us</a>
                      <!-- RD Navbar Dropdown-->
                      <ul class="rd-menu rd-navbar-dropdown">
                        <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="{{ path('app_about') }}">About</a></li>
                        <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="{{ path('app_faq') }}">Frequently Asked Questions</a></li>
                      </ul>
                    </li>
                    <li class="rd-nav-item"><a class="rd-nav-link" href="#contacts">Contacts</a></li>
                    <li class="rd-nav-item"><a class="rd-nav-link" href="#">Community</a>
                      <!-- RD Navbar Dropdown-->
                      <ul class="rd-menu rd-navbar-dropdown">
                        <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="#">WhatsApp Community</a></li>
                        <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="#">Instagram</a></li>
                      </ul>
                    </li>
                    <li class="rd-nav-item"><a class="rd-nav-link" href="#contacts">Connect</a>
                      <!-- RD Navbar Dropdown-->
                      <ul class="rd-menu rd-navbar-dropdown">
                      {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_USER') %}
                        <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="{{ path('admin') }}">Dashboard</a></li>
                        <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="{{ path('app_logout') }}">Logout</a></li>
                      {% else %}
                        <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="{{ path('app_login') }}">Login</a></li>
                        <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="{{ path('app_register') }}">Register</a></li>
                      {% endif %}
                      </ul>
                    </li>

                  </ul>
                </div>
              </div>
            </div>
          </nav>
        </div>
      </header>
{% for label, messages in app.flashes %}
    {% for message in messages %}
        <div class="alert alert-{{ label }}">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}
