{% extends 'base.html.twig' %}

{% block stylesheets %} 
{{ leogout_seo() }} 
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.css">
<style>
    iframe{
        width:100%;
    }
    p,li,ul{
      font-size:18px;
      line-height:1.5;
    }
    h2 {
        font-size:20px;
        text-transform:capitalize;
    }    
</style>
{% endblock %}
{% block page %}

      <section class="breadcrumbs-custom">
        <div class="parallax-container" data-parallax-img="/site/images/product_display/{{banner is null ? 'baby-blossom-backdrop-banner.jpg' : banner.path}}">
          <div class="breadcrumbs-custom-body parallax-content">
            <div class="container">
              <h1 class="breadcrumbs-custom-title">{{product.productName}}</h1>
            </div>
          </div>
        </div>
        <div class="breadcrumbs-custom-footer">
          <div class="container">
            <ul class="breadcrumbs-custom-path">
              <li><a href="{{path('app_default')}}">Home</a></li>
              <li><a href="{{path('app_product')}}">Shop</a></li>
              <li class="active">{{product.productName}}</li>
            </ul>
          </div>
        </div>
      </section>
      <!-- Single Product-->
      <section class="section section-sm section-first bg-default">
        <div class="container">
          <div class="row row-30">
            <div class="col-lg-6">
              <div class="slick-vertical slick-product">
                <!-- Slick Carousel-->
                <div class="slick-slider carousel-parent" id="carousel-parent" data-items="1" data-swipe="true" data-child="#child-carousel" data-for="#child-carousel">
                  <div class="item">
                    <div class="slick-product-figure" id="prod-photo" ><img src="/site/images/products/{{product.images}}" alt="" width="530" height="480"/>
                    </div>
                  </div>
                  {% for img in product.productImages %}
                  <div class="item">
                    <div class="slick-product-figure" id="{{img.color is not null ? img.color.id : ''}}"><img src="/site/images/product_images/{{img.path}}" alt="" width="530" height="480"/>
                    </div>
                  </div>
                  {% endfor %}
                </div>
                <div class="slick-slider child-carousel slick-nav-1" id="child-carousel" data-arrows="true" data-items="3" data-sm-items="3" data-md-items="3" data-lg-items="3" data-xl-items="3" data-xxl-items="3" data-md-vertical="true" data-for="#carousel-parent">
                  <div class="item">
                    <div class="slick-product-figure"><img src="/site/images/products/{{product.images}}" alt="" width="530" height="480"/>
                    </div>
                  </div>
                  {% for img in product.productImages %}
                  <div class="item">
                    <div class="slick-product-figure" id="{{img.color is not null ? img.color.id : ''}}"><img src="/site/images/product_images/{{img.path}}" alt="" width="530" height="480"/>
                    </div>
                  </div>
                  {% endfor %}
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="single-product">
                <h3 class="text-transform-none font-weight-medium">{{product.productName}}</h3>
                <div class="group-md group-middle">
                  <div class="single-product-price">KSh {{product.price}}</div>
                  <div class="single-product-rating"><span class="icon mdi mdi-star"></span><span class="icon mdi mdi-star"></span><span class="icon mdi mdi-star"></span><span class="icon mdi mdi-star"></span><span class="icon mdi mdi-star-half"></span></div>
                  {% if product.videoLink|length > 3 %}<a class="button button-sm button-info" href="#tabs-1-1">Watch Video</a>{% endif %}
                </div>
                <p>{{product.description|slice(0,500)|raw}}... <a href="#tabs-1-1">Read more</a></p>
                
                <hr class="hr-gray-100">
                <ul id="categories" class="list list-description">
                  <li><span>Categories:</span><span>
                    {% for category in product.categories %}
                        {{ category }}
                        {% if not loop.last %}, {% endif %}
                    {% endfor %}</span></li>
                  {# <li><span>Weight:</span><span>{{product.weight}}g</span></li> #}
                </ul>
                <div class="group-xs group-middle">
  
                {{ form_start(form, {'attr': {'id': 'addToCartForm', 'class': 'group-xs group-middle', 'style': 'margin-left:-15px;'}}) }}
                  <div class="invalid-feedback">
                    {{ form_errors(form.quantity) }}
                  </div>
                  <div style="width:100%; padding-left:15px; {% if product.productColors|length < 1 %} display:none;{% endif %}">
                      <div {% if product.productColors|length < 1 %} style="display:none;" {% endif %}><span>Choose Product Variety:</span>{{form_widget(form.color, {'attr': {'class': 'form-input form-control'}})}}</div>
                  </div>

                  <div class="product-stepper">
                       {{ form_widget(form.quantity, {
                            'attr': {
                                'class': 'form-input ' ~ (form.quantity.vars.valid ? '' : 'is-invalid'), 'data-zeros': "true", 'value': "1", 'min': "1", 'max': "1000"
                            }
                        }) }}                  
                        {# <input class="form-input" type="number" data-zeros="true" value="1" min="1" max="1000"> #}
                  </div>
                  <div>
                        {{ form_widget(form.add, {'attr': {'class': 'button button-lg button-primary-2 button-zakaria'}}) }}
                        
                  </div>
                  <div>
                        {{ form_widget(form.addNBuy, {'attr': {'class': 'button button-lg button-primary-2 button-zakaria'}}) }}
                        <a style="display:none;margin-top:0px;" id="goToCartButton" class="button button-lg button-primary-2 button-zakaria" href="/cart">View Cart</a>
                  </div>
                {{ form_end(form) }}
                </div>

                <hr class="hr-gray-100">
                <div class="group-xs group-middle"><span class="list-social-title">Share</span>
                  <div>
                    <ul class="list-inline list-social list-inline-sm">
                      <li><a class="icon mdi mdi-facebook" href="#"></a></li>
                      <li><a class="icon mdi mdi-twitter" href="#"></a></li>
                      <li><a class="icon mdi mdi-instagram" href="#"></a></li>
                      <li><a class="icon mdi mdi-google-plus" href="#"></a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Bootstrap tabs-->
          <div class="tabs-custom tabs-horizontal tabs-line" id="tabs-1">
            <!-- Nav tabs-->
            <div class="nav-tabs-wrap">
              <ul class="nav nav-tabs nav-tabs-1">
                <li class="nav-item" role="presentation"><a class="nav-link active" href="#tabs-1-1" data-toggle="tab">Description <span class="icon mdi mdi-information-outline"></span></a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="#tabs-1-2" data-toggle="tab">Ingredients</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="#tabs-1-3" data-toggle="tab">Reviews</a></li>
                {# <li class="nav-item" role="presentation"><a class="nav-link" href="#tabs-1-3" data-toggle="tab">Delivery and payment <span class="icon mdi mdi-truck-delivery"></a></li> #}
              </ul>
            </div>
            <!-- Tab panes-->
            <div class="tab-content tab-content-1" style="padding-left:15px!important;">
              <div class="tab-pane fade show active" id="tabs-1-1">
                <div class="single-product-info">
                  <div class="unit unit-spacing-md flex-column flex-sm-row align-items-sm-center">
                    <div class="unit-body">
                      <p>{{product.videoLink|raw}}</p>
                      <p>{{product.description|raw}}</p>
                      <a class="button button-sm button-info" href="#categories">Buy Now</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="tabs-1-2">
                <div class="single-product-info">
                  <div class="unit unit-spacing-md flex-column flex-sm-row align-items-sm-center">
                    <div class="unit-body">
                      <p>{{product.features|raw}}</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="tabs-1-3">
                <h4 class="text-transform-none font-weight-medium">Leave a Review</h4>
                {% if app.user is defined and app.user is not null %}
                    {{ form_start(review_form, {'attr': {'id': 'reviewForm', 'class': 'rd-form'}}) }}

                    <div class="product-stepper">
                        <div id="rating" data-rateyo-rating="{{ review_form.Rating.vars.value }}"></div>
                        {{ form_widget(review_form.Rating, {'attr': {'style': 'display:none;'}}) }}
                    </div>

                    <div>
                        {{ form_widget(review_form.review_text, {'attr': {'class': 'form-input textarea-lg', 'placeholder': 'Write a review here'}}) }}
                    </div>


                    <div>
                          {{ form_widget(review_form.post_review, {'attr': {'class': 'button button-lg button-primary-2 button-zakaria'}}) }}
                          
                    </div>

                {{ form_end(review_form) }}

                {% else %}
                  <p>Please login to review {{product.productName}}.</p>
                {% endif %}

                {% for review in product.productReviews %}
                <div class="box-comment">
                  <div class="unit flex-column flex-sm-row unit-spacing-md">
                    <div class="unit-left"><a class="box-comment-figure" href="#"><img src="/site/images/profile_pictures/{{review.user.profilePicture}}" alt="" width="119" height="119"/></a></div>
                    <div class="unit-body">
                      <div class="group-sm group-justify">
                        <div>
                          <div class="group-xs group-middle">
                            <h5 class="box-comment-author"><a href="#">{{review.user}}</a></h5>
                            <div class="box-rating"><span class="icon mdi mdi-star"></span><span class="icon mdi mdi-star"></span><span class="icon mdi mdi-star"></span><span class="icon mdi mdi-star"></span><span class="icon mdi mdi-star-half"></span></div>
                          </div>
                        </div>
                        <div class="box-comment-time">
                          <time datetime="2019-11-30">{{review.reviewDate|date('jS M, Y')}}</time>
                        </div>
                      </div>
                      <p class="box-comment-text">{{review.reviewText|raw}}</p>
                    </div>
                  </div>
                </div>
                {% endfor %}
              </div>
              {# <div class="tab-pane fade" id="tabs-1-3">
                <div class="single-product-info">
                  <div class="unit unit-spacing-md flex-column flex-sm-row align-items-sm-center">
                    <div class="unit-body">
                      <p>After purchasing, we will deliver {{product.productName}} to you. You have the option to pay now or pay on delivery</p>
                    </div>
                  </div>
                </div>
              </div> #}
            </div>
          </div>
        </div>
      </section>

      <!-- Related Products-->
      <section class="section section-sm section-last bg-default">
        <div class="container">
          <h4 class="font-weight-sbold">Related Products</h4>
          <div class="row row-lg row-30 row-lg-50 justify-content-center">
          {% for prod in relatedProducts|filter(prod => prod.id != product.id) %}
            <div class="col-sm-6 col-md-5 col-lg-3">
              <!-- Product-->
              <article class="product">
                <div class="product-body">
                  <div class="product-figure"><img src="/site/images/products/{{prod.images}}" alt="" width="144" height="199"/>
                  </div>
                  <h5 class="product-title"><a href="{{path('product_show', {'product_slug': prod.slug})}}">{{prod.productName}}</a></h5>
                  <div class="product-price-wrap">
                  {% if prod.latestDiscountCode is not null %}
                      {% set d = (prod.latestDiscountCode.percentage / 100) * prod.price %}
                      {% set oldPrice = prod.price + d %}
                  {% else %}
                      {% set d = 0.1 * prod.price %}
                      {% set oldPrice = prod.price + d %}
                  {% endif %}
                    <div class="product-price product-price-old">KSh{{ oldPrice }}</div>
                    <div class="product-price">KSh {{prod.price}}</div>
                  </div>
                </div><span class="product-badge product-badge-sale">Sale</span>
                <div class="product-button-wrap">
                  <div class="product-button"><a class="button button-secondary button-zakaria fl-bigmug-line-search74" href="{{path('product_show', {'product_slug': prod.slug})}}"></a></div>
                  <div class="product-button"><form id="prodForm-{{prod.id}}"><input type="hidden" id="quantity_{{prod.id}}" value="1"><button style="margin-top:0" name="cartProd_{{prod.id}}" id="cartProd_{{prod.id}}" class="button button-primary-2 button-zakaria fl-bigmug-line-shopping202" type="button"></button></form></div>                  
                </div>
              </article>
            </div>
          {% endfor %}
          </div>
        </div>
      </section>

{% endblock %}

{% block javascripts_bottom %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.js"></script>

<script>
    $(document).ready(function() {
        $("#rating").rateYo({
            starWidth: "30px",
            fullStar: true,
            rating: {{ review_form.Rating.vars.value == "" ? 5 : review_form.Rating.vars.value }},
            onChange: function (rating, rateYoInstance) {
                // Update the hidden input value when the rating changes
                $("input[name='product_review[Rating]']").val(rating);
            }
        });
    });
</script>

<script>
    $(document).ready(function () {
        $('button[id^="cartProd_"]').on('click', function () {
            var formId = $(this).closest('form').attr('id');
            var productId = formId.split('-')[1];
            var clickedButton = $('#' + formId + ' button').attr('name');
            console.log(formId);
            console.log(productId);
            console.log(clickedButton);
            $.ajax({
                type: 'POST',
                url: "{{path('add_product_to_cart_index') }}", // Replace with your actual controller action route
                data: {
                    product_id: productId,
                    clickedButton: clickedButton
                },
                success: function (response) {
                    console.log(response);
                    // Handle the response, update the cart UI, etc.
                    if (response.status === 'success') {
                        // Update total products and total price in your UI
                        window.location.href = '/cart';
                    }
                },
                error: function (error) {
                    console.error(error);
                }
            });
        });
    });
</script>

<script>
    $(document).ready(function() {
        $('#addToCartForm').submit(function(event) {
            event.preventDefault();

            var clickedButton = $(event.target).find('button[type="submit"]:focus');
            var buttonName = clickedButton.attr('name');

            // Your AJAX logic here
            var formData = new FormData($(this)[0]);

            formData.append('clickedButton', buttonName);

            console.log(formData);

            $.ajax({
                type: 'POST',
                url: $(this).attr('action'),
                data: formData,
                processData: false,
                contentType: false,
                success: function(data) {
                    // Handle the JSON response
                    if (data.status === 'success') {

                        if (data.message === 'addNBuy') {
                            // Redirect to a location
                            window.location.href = '/checkout';
                        } else {

                            // Hide the #add_to_cart_addNBuy button
                            $("#add_to_cart_addNBuy").hide();
                            
                            // Change background color of #add_to_cart_add to green
                            $("#add_to_cart_add").css('background-color', 'green');

                            // Change text in $("#add_to_cart_add") to 'Added To Cart'
                            $("#add_to_cart_add").text('Added To Cart');
                            
                            // Optionally, you can add additional styling or disable the button
                            $("#add_to_cart_add").prop('disabled', true);
                            $("#goToCartButton").show();
                            
                            // Show your modal here if needed
                            console.log('Added to cart');

                            var updatedCartData = {
                                totalProducts: data.totalProducts,
                                totalPrice: data.totalPrice,
                                products: data.products
                            };

                            // Update the cart content based on the updated data
                            updateCartContent(updatedCartData);

                            function updateCartContent(data) {
                                // Update the total products and total price
                                $('.cart-inline-title span').eq(0).text(data.totalProducts);
                                $('.cart-inline-title span').eq(1).text(data.totalPrice);
                                $('.prodQty').text(data.totalProducts);

                                // Remove existing product items
                                $('.cart-inline-body .cart-inline-item').remove();

                                // Loop through the products and update the content
                                for (var i = 0; i < data.products.length; i++) {
                                    var product = data.products[i];
                                    var productHTML = '<div class="cart-inline-item">' +
                                        '<div class="unit unit-spacing-sm align-items-center">' +
                                        '<div class="unit-left"><a class="cart-inline-figure" href="/product/' + product.slug + '"><img style="width:60px;height:60px;" src="/site/images/products/' + product.images + '" alt="" width="100" height="90"></a></div>' +
                                        '<div class="unit-body">' +
                                        '<h6 class="cart-inline-name"><a href="/product/' + product.slug + '">' + product.name + '</a></h6>' +
                                        '<div>' +
                                        '<div class="group-xs group-middle">' +
                                        '<h6 class="cart-inline-title">Qty: ' + product.quantity + ' Total: ' + product.total + '</h6>' +
                                        '</div>' +
                                        '</div>' +
                                        '</div>' +
                                        '</div>' +
                                        '</div>';
                                    $('.cart-inline-body').append(productHTML);
                                }
                            }


                            // Optionally, you can redirect the user or do other actions
                        }
                        } else {
                        // Handle other cases (e.g., error)
                        console.log('Error adding to cart'); // Replace with your error handling logic
                        console.log(data);
                    }
                },
                error: function(error) {
                    console.error('Error:', error);
                    alert('An error occurred'); // Replace with your error handling logic
                }
            });
        });
    });
</script>
<script>

$("#add_to_cart_color").change(function(){
    var thisVal = $(this).val();
    console.log(thisVal);
    var photoForThisValue = $("#" + thisVal);
    
    if (photoForThisValue.length) {
        photoForThisValue.click();
    } else {
        $("#prod-photo").click();
    }
});

</script>
{% endblock %}