{% extends 'base.html.twig' %}

{% block stylesheets %} {{ leogout_seo() }} {% endblock %}

{% block page %}
    <section class="breadcrumbs-custom">
    <div class="parallax-container" data-parallax-img="/site/images/gift-pack-banner.jpg">
        <div class="breadcrumbs-custom-body parallax-content">
        <div class="container">
            <h1 class="breadcrumbs-custom-title">Baby Blossom Blog</h1>
        </div>
        </div>
    </div>
    <div class="breadcrumbs-custom-footer">
        <div class="container">
        <ul class="breadcrumbs-custom-path">
            <li><a href="{{ path('app_default') }}">Home</a></li>
            <li><a href="{{ path('app_blog') }}">Blog</a></li>
            <li class="active">Baby Blossom Blog</li>
        </ul>
        </div>
    </div>
    </section>
    <!-- Button Sizes-->
    <section class="section section-xl bg-default">
    <div class="container">
        <div class="row row-30">
        {% for blog in blogPosts %}
            <div class="col-sm-6 col-lg-4">
                <!-- Post Classic-->
                <article class="post post-classic box-md"><a class="post-classic-figure" href="{{ path('blog_show', {'blog_slug': blog.slug }) }}"><img src="/site/images/blog/{{blog.featuredImage}}" alt="" width="370" height="239"/></a>
                <div class="post-classic-content">
                    <div class="post-classic-time">
                    <time datetime="2019-08-09">{{ blog.publicationDate|date("jS M Y")}}</time>
                    </div>
                    <h2 class="post-classic-title" style="font-size:1.3em;text-transform:capitalize!important;"><a href="{{ path('blog_show', {'blog_slug': blog.slug }) }}">{{ blog.title }}</a></h2>
                    <p class="post-classic-text">{{ blog.metaDescription|slice(0,300) }}</p>
                </div>
                </article>
            </div>
        {% endfor %}

        </div>
        <div class="pagination-wrap">
        <!-- Bootstrap Pagination-->
        <nav aria-label="Page navigation">
            <ul class="pagination">
            <li class="page-item page-item-control disabled"><a class="page-link" href="#" aria-label="Previous"><span class="icon" aria-hidden="true"></span></a></li>
            <li class="page-item active"><span class="page-link">1</span></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item page-item-control"><a class="page-link" href="#" aria-label="Next"><span class="icon" aria-hidden="true"></span></a></li>
            </ul>
        </nav>
        </div>
    </div>
    </section>
{% endblock %}
