{% apply inky_to_html|inline_css(source('@styles/foundation-emails.css')) %}
<style type="text/css">

.header {
  background: #8a8a8a;
}

.header .columns {
  padding-bottom: 0;
}

.header p {
  color: #fff;
  margin-bottom: 0;
}

.header .wrapper-inner {
  padding: 20px; /*controls the height of the header*/
}

.header .container {
  background: #8a8a8a;
}

.wrapper.secondary {
  background: #f3f3f3;
}

</style>
<!-- move the above styles into your custom stylesheet -->


<wrapper class="header" bgcolor="#8a8a8a">
  <container>
    <row class="collapse">
      <columns small="6" valign="middle">
        <img  src="{{ email.image('@images/babyblossom_logo.jpg') }}">
      </columns>
      <columns small="6" valign="middle">
        <p class="text-right">Calm Baby <br/> Happy Mama</p>
      </columns>
    </row>
  </container>
</wrapper>

<container>

  <spacer size="16"></spacer>
  
  {% block content %}
  {% endblock %}
  
  <wrapper class="secondary">
    <spacer size="16"></spacer>
    <row>
      <columns small="12" large="6">
        <p><a href="https://g.page/r/CYAQsHRbmRvJEB0/review">Please leave us a review on Google</a></p>
        <h5>Connect With Us:</h5>
        <menu class="vertical">
          <item style="text-align: left;" href="https://instagram.com/babyblossomke">Instagram</item>
          <item style="text-align: left;" href="https://www.facebook.com/babyblossmke/">Facebook</item>
        </menu>
      </columns>
      <columns small="12" large="6">
        <h5>Contact Info:</h5>
        <p>Phone: +254 757 066500</p>
        <p>Email: <a href="mailto:info@babyblossom.co.ke">info@babyblossom.co.ke</a></p>
      </columns>
      <br /><br />
    </row>
    <p><small>Don't want to receive this kind of email? <a href="https://babyblossom.co.ke/profile/email/preferences">Unsubscribe</a></small></p>
  </wrapper>

</container>
{% endapply %}