{% extends 'emails/emailBase.html.twig' %}
{% block content %}

  <row>
    <columns>
      
      <h1>Hi, {{name}}</h1>
      <p class="lead">We have received your order and we will give you a call shortly. Your order and shipping amounts to KSh {{cartAndShipping}}.</p>
      <p>You can call us on working days during working hours on +254 757 066500. </p>
      <p>Thank you for choosing Baby Blossom Kenya. </p>
      <callout class="primary">
        <p>Rest assured that we are working on your oder as shown below:</a></p>
      </callout>
      <container>
        <table class="table" style="border-collapse: collapse;">
          <thead>
            <tr>
              <th style="border: 1px solid black; padding: 8px;">Product</th>
              <th style="border: 1px solid black; padding: 8px;">Quantity</th>
              <th style="border: 1px solid black; padding: 8px;">Price</th>
              <th style="border: 1px solid black; padding: 8px;">Total</th>
            </tr>
          </thead>
          <tbody>
            {% for item in order.orderItems %}
            <tr>
              <td style="border: 1px solid black; padding: 8px;">
                <a href="{{ path('product_show', {'product_slug': item.product.slug }) }}" target="_blank">{{ item.product }}</a>
              </td>
              <td style="border: 1px solid black; padding: 8px;">{{ item.quantity }}</td>
              <td style="border: 1px solid black; padding: 8px;">{{ item.pricePerUnit }}</td>
              <td style="border: 1px solid black; padding: 8px;">{{ item.totalPrice }} {{item.colorStr|raw}}</td>
            </tr>
            {% endfor %}
          </tbody>
          <tfoot>
            <tr>
              <td style="border: 1px solid black; padding: 8px;"><strong>Discount</strong></td>
              <td style="border: 1px solid black; padding: 8px;"></td>
              <td style="border: 1px solid black; padding: 8px;"></td>
              <td style="border: 1px solid black; padding: 8px;"><strong>{{ order.discountAmount }}</strong></td>
            </tr>
            <tr>
              <td style="border: 1px solid black; padding: 8px;"><strong>Shipping</strong></td>
              <td style="border: 1px solid black; padding: 8px;"></td>
              <td style="border: 1px solid black; padding: 8px;"></td>
              <td style="border: 1px solid black; padding: 8px;"><strong>{{ shipping_cost }}</strong></td>
            </tr>
            <tr>
              <td style="border: 1px solid black; padding: 8px;"><strong>Total</strong></td>
              <td style="border: 1px solid black; padding: 8px;"></td>
              <td style="border: 1px solid black; padding: 8px;"></td>
              <td style="border: 1px solid black; padding: 8px;"><strong>{{ order.totalAmount }}</strong></td>
            </tr>
          </tfoot>

        </table>
      </container>

    </columns>
  </row>

{% endblock %}