{% extends 'emails/emailBase.html.twig' %}
{% block content %}

  <row>
    <columns>
      
      <h1>Hi, Admin</h1>
      <p class="lead">{{intro}}</p>
      <p>The client is called {{name}}. Email: {{emailAd}} </p>
      <p>Message: {{message}} </p>
      <callout class="primary">
        <p><a href="{{urlToOrderDetail}}">View the order</a></p>
      </callout>
      <container>
        <table class="table" style="border-collapse: collapse;">
          <thead>
            <tr>
              <th style="border: 1px solid black; padding: 8px;">Product</th>
              <th style="border: 1px solid black; padding: 8px;">Quantity</th>
              <th style="border: 1px solid black; padding: 8px;">Price</th>
              <th style="border: 1px solid black; padding: 8px;">Total</th>
            </tr>
          </thead>
          <tbody>
            {% for item in order.orderItems %}
            <tr>
              <td style="border: 1px solid black; padding: 8px;">
                <a href="{{ path('product_show', {'product_slug': item.product.slug }) }}" target="_blank">{{ item.product }}</a>
              </td>
              <td style="border: 1px solid black; padding: 8px;">{{ item.quantity }}</td>
              <td style="border: 1px solid black; padding: 8px;">{{ item.pricePerUnit }}</td>
              <td style="border: 1px solid black; padding: 8px;">{{ item.totalPrice }} {{item.colorStr|raw}}</td>
            </tr>
            {% endfor %}
          </tbody>
          <tfoot>
            <tr>
              <td style="border: 1px solid black; padding: 8px;"><strong>Discount</strong></td>
              <td style="border: 1px solid black; padding: 8px;"></td>
              <td style="border: 1px solid black; padding: 8px;"></td>
              <td style="border: 1px solid black; padding: 8px;"><strong>{{ order.discountAmount }}</strong></td>
            </tr>
            <tr>
              <td style="border: 1px solid black; padding: 8px;"><strong>Shipping</strong></td>
              <td style="border: 1px solid black; padding: 8px;"></td>
              <td style="border: 1px solid black; padding: 8px;"></td>
              <td style="border: 1px solid black; padding: 8px;"><strong>{{ shipping_cost }}</strong></td>
            </tr>
            <tr>
              <td style="border: 1px solid black; padding: 8px;"><strong>Total</strong></td>
              <td style="border: 1px solid black; padding: 8px;"></td>
              <td style="border: 1px solid black; padding: 8px;"></td>
              <td style="border: 1px solid black; padding: 8px;"><strong>{{ order.totalAmount }}</strong></td>
            </tr>
          </tfoot>

        </table>
      </container>

    </columns>
  </row>

{% endblock %}