<!DOCTYPE html>
<html class="wide wow-animation" lang="en">
    <head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-WK1231M68B"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-WK1231M68B');
    </script>    
    <script type='application/ld+json'> 
    {
    "@context": "http://www.schema.org",
    "@type": "HealthAndBeautyBusiness",
    "name": "Baby Blossom",
    "url": "https://babyblossom.co.ke",
    "sameAs": [
        "https://instagram.com/babyblossomke"
    ],
    "logo": "https://babyblossom.co.ke/wp-content/uploads/2020/09/BABY-BLOSSOM-LOGO.png",
    "image": "https://babyblossom.co.ke/wp-content/uploads/2020/08/Calendula-Baby-Soap-min-scaled-800x533.jpg",
    "description": "Baby Blossom offers a range of skincare products designed for babies with eczema or sensitive skin. These products are entirely natural and have earned the trust of Kenyan families, making Baby Blossom one of the most reputable choice for both infants and mothers. Baby Blossom offers a range of 100% natural baby care products, including Calendula baby soap, baby lotion, baby wash and shampoo, and massage oil. ",
    "address": {
        "@type": "PostalAddress",
        "streetAddress": "Woodlands Office Park, 2nd Floor Woodlands Road, Kilimani, Nairobi",
        "addressLocality": "Nairobi",
        "addressRegion": "Kenya",
        "postalCode": "00100",
        "addressCountry": "Kenya"
    },
    "geo": {
        "@type": "GeoCoordinates",
        "latitude": "-0.79684",
        "longitude": "36.4816301"
    },
    "hasMap": "https://www.google.com/maps/place/Baby+Blossom+Kenya/@-0.79684,36.4816301,9z/data=!4m6!3m5!1s0x182f116d97a35b3b:0xc91b995b74b01080!8m2!3d-0.79684!4d36.4816301!16s%2Fg%2F11j0vsyblh?hl=en-GB&entry=ttu",
    "openingHours": "Mo, We, Th, Fr, Su 08:00-17:00 Tu 08:30-17:00 Sa 08:00-13:00",
    "contactPoint": {
        "@type": "ContactPoint",
        "contactType": "Mobile Phone",
        "telephone": "+254 757 066500"
    }
    }
    </script>    
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="icon" href="{{ asset('site/favicon.ico') }}" type="image/x-icon">
        <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('site/apple-touch-icon.png') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('site/favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('site/favicon-16x16.png') }}">
        <link rel="manifest" href="/site.webmanifest">        
        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900%7CLato:100,300,400,700,900%7CKalam:300,400,700">
        <link rel="stylesheet" href="{{asset('site/css/bootstrap.css') }}">
        <link rel="stylesheet" href="{{asset('site/css/fonts.css') }}">
        <link rel="stylesheet" href="{{asset('site/css/style.css') }}">
        <style>.ie-panel{display: none;background: #212121;padding: 10px 0;box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3);clear: both;text-align:center;position: relative;z-index: 1;} html.ie-10 .ie-panel, html.lt-ie-10 .ie-panel {display: block;}
        .alert {
            position: relative;
            padding: .75rem 1.25rem;
            margin-bottom: 1rem;
            border: 1px solid transparent;
            border-radius: .25rem;
        }
        .alert-primary {
            color: #004085;
            background-color: #cce5ff;
            border-color: #b8daff;
        }

        .alert-secondary {
            color: #383d41;
            background-color: #e2e3e5;
            border-color: #d6d8db;
        }

        .alert-success {
            color: #155724;
            background-color: #d4edda;
            border-color: #c3e6cb;
        }

        .alert-danger {
            color: #721c24;
            background-color: #f8d7da;
            border-color: #f5c6cb;
        }

        .alert-warning {
            color: #856404;
            background-color: #fff3cd;
            border-color: #ffeeba;
        }

        .alert-info {
            color: #0c5460;
            background-color: #d1ecf1;
            border-color: #bee5eb;
        }

        #whatsapp-button {
            position: fixed;
            bottom: 10px;
            left: 10px;
            z-index: 999; /* Adjust the z-index as needed */
            color: white; /* Change the text color */
            padding:5px;
            cursor: pointer;
            /* Add other styles as needed */
        }

        .grecaptcha-badge { visibility: hidden!important; }

        </style>
{% block stylesheets %}

{% endblock %}
{% block javascripts %}

{% endblock %}
   </head>
    <body>
        <div class="ie-panel"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="{{ asset('site/images/ie8-panel/warning_bar_0000_us.jpg') }}" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
            </div>
        </div>
        <div class="mypage" style="padding-top: 56px;">
        {% include 'tmp/header.html.twig' %}

            {% block page %}{% endblock %}
            <div id="whatsapp-button"><a href="#"><img src="/whatsapp.png"></a></div>   

        {% include 'tmp/footer.html.twig' %}
        </div>
        <div class="snackbars" id="form-output-global"></div>
        <script src="{{ asset('site/js/core.min.js') }}"></script>
        <script src="{{ asset('site/js/script.js') }}"></script>
        <script>
            window.onunload = function(){}; 
            $(".page").fadeIn();

        </script>
        <script>
            const whatsappNumber = "254757066500"; // Replace with your actual number
            const prefilledMessage = "Hi there, I have a question from your website."; // Optional pre-filled message

            const whatsappButton = document.querySelector('#whatsapp-button');

            whatsappButton.addEventListener('click', function() {
            const url = `https://wa.me/${whatsappNumber}?text=${encodeURIComponent(prefilledMessage)}`;
            window.location.href = url;
            });
        </script>

        {% block javascripts_bottom %}{% endblock %}
    </body>
</html>