{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{# @var field \EasyCorp\Bundle\EasyAdminBundle\Dto\FieldDto #}
{# @var entity \EasyCorp\Bundle\EasyAdminBundle\Dto\EntityDto #}
{# {% if 'toMany' == field.customOptions.get('associationType') %}
    <span class="badge badge-secondary">{{ field.formattedValue }}</span>
{% else %}
    {% if field.customOptions.get('relatedUrl') is not null %}
        <a href="{{ field.customOptions.get('relatedUrl') }}">{{ field.formattedValue }}</a>
    {% else %}
        {{ field.formattedValue }}
    {% endif %}
{% endif %}

#}<table class="table">
    <thead>
        <tr>
            <th>Product</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
        {% for item in entity.instance.orderItems %}
        <tr>
            <td><a target="_blank" href="{{path('product_show', {'product_slug': item.product.slug })}}">{{ item.product }}</a></td>
            <td>{{ item.quantity }}</td>
            <td>{{ item.pricePerUnit }}</td>
            <td>{{ item.totalPrice }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table> 
